.post-type-archive-arrangements{
    .slide {
        .restro-slider {
            .restro-design-1 {
                .restro-text {
                    .restro-sub-title{
                        max-height: 100px;
                        overflow: hidden;
                    }
                }
            }
        }
    }
}



.arr-fornoles-skull{
    .desciption{
        margin: 40px 0 0;
        word-wrap: break-word;
    }
} //.fornoles-skull