//BOOTSTRAPE
@import '../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//HELPERS   
@import 'helpers/mixins';       
@import 'helpers/variables';     
@import 'helpers/placeholder'; 
@import "components/components"; 
@import 'base/typography'; 
@import 'base/reset';      

//LAYOUT   
@import"layouts/master-layouts";

//PAGES
@import"page/pages";

.desc.new-design p {
    max-height: inherit !important;
    height: auto !important;
}

.activities-link{
	display: block;
	margin-bottom: 14px;
}

.activities-input{
	width: 100%;
}