$title_color:#E77E43;

.page-template-template-gallery{  
    .inner-page{
        padding-bottom:0;
    }
}

.ngg-breadcrumbs{
    margin-bottom:10px !important;
    > li{
        color:$night-title-color;
        a{
            color:darken( $night-title-color, 10% );
        }
    }
}

.nextgen_pro_grid_album{
    text-align: left !important;
}
.ngg-breadcrumbs{
    margin: 0 15px !important;
}

//fancybox-content
#fancybox-content{
    border-color: $black !important;
}
#fancybox-overlay{
    background-color: rgb(0, 0, 0) !important;
}

.gallery{
    background-color:#0A0A0A;
    padding: 40px 0;
    font-size: 16px;
    
    //gallery single page
    .nextgen_pro_thumbnail_grid{
        text-align: left;
        .image-wrapper {
            margin: 8px;
        }
    }
    
    //pagination
    .ngg-navigation{
        a{
            &.page-numbers, &.next{
                color:$night-title-color;
                border-color:$night-title-color;
                
                &:hover{
                    background-color:$night-title-color;
                }
            }
        }
    }
    
    //nextgen pro grid album
    .nextgen_pro_grid_album{
        .caption_link{
            color:$title_color !important;
            margin: 15px 0 25px !important;
            font-size:16px !important;
            @include transition( color 0.3s linear);
            &:visited, &:hover{
                color:lighten($title_color, 10%);
            }
        }
    }
    
    //gallary plugin id
    .nextgen_pro_thumbnail_grid{
        text-align:left;
        @include media( sm ){
            text-align: center;
        }  
        .image_container{
            .image_link_wrapper{
                height:220px !important;
            }
        }//.image_container 
    } //displayed_gallery
    
} //.gallery