.night-contact{
    background-color : $black;
    color : $white;
    padding: 50px 0;
    
    a{
        color:#fff;
        &:hover, &:focus, &:active, &:visited{
            color:#fff;
        }
    }
    
    .description{
        .modal-sub-title, .modal-sub-title{
            color: $night-title-color;
        }
    }
    
    .wpcf7-form{
        .form-group{
            label {
                background-color : $black;
            }
            input:not([type="submit"]),textarea{
                background-color : $black;
            }
            input[type="submit"]{
                background-color:lighten($black, 15%);
            }
            input,textarea{
                &:focus{
                  border:1px solid $night-title-color;
                }
            }
        }
    }
}