.contact-detail{
    padding: 60px 0;
    @extend %table-gap;
    
    h2{
        margin-top:0;
        margin-bottom:10px;
        margin-top: 0;
        font-size: 26px;
        margin-bottom: 15px;
        font-weight: 300;
    }
    
    .description{
        .modal-sub-title, .modal-sub-title{
            color: $title;
        }
    }
    
    .contact-form{
        h2{
            margin-bottom: 35px;
        }
    }
}

.c-form-n-op-hours{
    margin-top:50px;

    table{
        tr{
            td:nth-child(2){
                width: 30px;
            }
        }
    }

}// c-form-n-op-hours

#contact-page-data {
    .restaurang-hours, .bowling-hours{
        margin-bottom: 45px;
    }
}