.menu-icon{
    width: 32px; 
    height: 28px;
    position: fixed;
    top: 18PX;
    right: 25px;
    display:none;

  

    @include media(sm){
      top: 20px;;
    }
    
    @include media(xs){
        top: 20px;
    }

    @include media(md){
        display:block;
    }


    span{
        position:absolute;  
        left:0%; 
        right:0%;
        height:2px;
        top:50%; 
        background-color:$white;
        @include translate(0, -50%);

       

        &:after{
            content:"";
            position:absolute;
            top:-10px;
            left:0;
            right:0;
            height:2px;
            background-color:$white;
        }
        &:before{
            content:"";
            position:absolute;
            bottom:-10px;
            left:0;
            right:0;
            height:2px;
            background-color:$white;
        }
    }
}

