// notification board
.notification-overlay{   
    background-color:rgba($black, 0.6);     
    position: fixed;        
    left:0;
    bottom:0;
    right:0; 
    top:0;
    z-index:99; 
    opacity: 0;
    visibility: hidden;
    @include transition( all 0.3s ease-in-out );

    &.open{
        opacity: 1;
        visibility: visible;

        .notification-board{
            right:0;
        }
    }
}//notification overlay

//Menu open
body.open{
    overflow:hidden;
}

//notification-board
.notification-board{
    position: fixed;
    top: 0;
    height: 100%;
    overflow-y: scroll;
    right: -300px;
    width: 300px;
    z-index: 100;
    background-color: lighten($black,97%);
    @include transition( all 0.3s ease-in-out );

    &.open{
        right:0;
    }
    
    &.day-menu{
        background-color: $title;
    }
    
    //title
    .title{
        text-align: center;
        margin: 0;
        text-transform: uppercase;
        padding: 16px;
        color:lighten($black,40%);
        
        h2{
            font-size: 18px;
            font-weight: 400;
            margin: 10px 0;
            color:$white;
        }
        span{
            font-size: 20px;
            position: relative;
            top: 2px;
            margin-right: 5px;
        }
    }
    
    ul{
        margin:0;
        padding:0;
        list-style:none;
        
        li{
            
            @include clearfix();

            a{
                padding: 8px 15px;
                display: block;
                font-weight: 300;
                text-transform: uppercase;
                color: $white;
            }
            .img{
                float: left;
                width: 50px;
                height: 45px;
                overflow: hidden;
            }
            .detail{
                overflow: hidden;
                padding-left: 10px;
                margin-top: 7px;

                h3{
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: capitalize;
                    color:#6b6b6b;
                }
                p{
                    font-size: 12px;
                    margin-top: 3px;
                    color: #777;
                }
            }
        }//li

    }//ul
}//notification board
