.wpcf7-form{
    .form-group{
        position:relative;
        margin-bottom:22px;

        label{
            position: absolute;
            top: -13px;
            background: $white;
            font-size: 14px;
            padding-right: 20px;
            padding-left: 5px;
            left: 15px;
            font-weight: 300;

            span{
                font-size: 37px;
                position: absolute;
                top: 24px;
                right: 5px;
                line-height: 0;
                color: $error;
            }
        }

        input,textarea{
            width:100%;
            padding: 13px 16px 8px;
            font-size: 14px;
            border:1px solid #ececec;   
            @include border-radius(0px);
            @include transition(all 0.3s linear);

            &.wpcf7-not-valid{
                border:1px solid #f00;   
            }

            &:focus{
                border:1px solid $title;
                outline:none;
            }
        }

        input[type="submit"]{
            font-size: 16px;
            width: 100%;
            text-transform: uppercase;
            padding: 10px 15px;
            font-weight: 100;
            letter-spacing: 3px;
            border:none;
            background-color:$title;
            color:$white;
            @include border-radius(0);
            @include vendor-prefix(box-shadow, none);
            @include transition(all 0.3s linear);

            &:hover{
                letter-spacing: 5px;
            }
        }

        .ajax-loader{
            position: absolute;
            right: -25px;
            top: 50%;
            @include translate(0, -50%);
            
            @include media( xs ){
                left:50%;
                bottom:-25px;
                top:initial;
                right:initial;
                @include translate(-50%, 0);
            }
        }

    }//form-group

    .wpcf7-response-output{
        margin:0;
    }
} //wpcf7-form
