@import url('https://fonts.googleapis.com/css?family=Lato');

/********* Cart stuff **********/
#ngg_add_to_cart_container {
    margin: 15px;
}

#ngg_add_to_cart_container th,
#ngg_add_to_cart_container tr,
#ngg_add_to_cart_container td,
#ngg_add_to_cart_container thead,
#ngg_add_to_cart_container tfoot,
#ngg_add_to_cart_container table {
    border: none;
    color: white;
    background-color: inherit;
    line-height: 1em;
    padding: 0;
    margin: 0;
    border-collapse: separate;
    border-spacing: 4px;
}

#ngg_add_to_cart_container td {
    padding: 3px 0 2px 0;
}

#ngg_add_to_cart_container input,
#ngg_add_to_cart_container textarea {
    background-image: none;
    font-family: 'Lato', sans-serif;
    line-height: 1.5em;
    padding: 5px;
    text-transform: none;
    width: auto;
    text-shadow: none;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(100, 100, 100, .05);
    outline: none;
    font-size: 14px;
}

#ngg_add_to_cart_container input {
    height: 2.3em;
}

#ngg_add_to_cart_container,
#ngg_add_to_cart_container table {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
    color: white;
}

#ngg_add_to_cart_container h2 {
    text-transform: uppercase;
    margin: 0 0 2px 0;
    font-weight: normal;
    font-size: 1.5em;
    padding: 0;
}
#ngg_add_to_cart_container h3 {
    padding: 0;
    margin: 18px 0 0 0;
    outline: none;
}

#ngg_add_to_cart_container h1,
#ngg_add_to_cart_container h2,
#ngg_add_to_cart_container h3,
#ngg_add_to_cart_container h4,
#ngg_add_to_cart_container h5,
#ngg_add_to_cart_container h6 {
    color: white;
    font-family: 'Lato', sans-serif;
    margin-bottom: 20px;
}

#ngg_add_to_cart_container h2:first-of-type {
    margin-bottom: 5px;
}

#ngg_qty_add_desc {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 10px 0 0 0;
    margin: 0;
}

div.nggpl-pricelist_source_accordion {
    text-align: left;
    margin-bottom: 30px;
}

.nggpl-pricelist_source_accordion h3 {
    font-weight: normal;
    font-size: 18px;
}

#nggpl-items_for_sale h3:hover {
    cursor: pointer;
}

#ngg_add_to_cart_container .nggpl-cart_summary {
    margin-right: 2%;
}

#ngg_add_to_cart_container .nggpl-cart_total {
    text-align: right;
    float: right;
}

#ngg_add_to_cart_container hr {
    width: 65%;
    border: 0px;
    margin-top: 14px;
    margin-bottom: 14px;
    border-top: solid 2px #3D3D3D;
    margin: 0 auto;
}

.nggpl-variant-white #ngg_add_to_cart_container hr {
    border-top: solid 2px #7a7a7a;
}

#ngg_add_to_cart_container a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    background-color: inherit;
}

#ngg_add_to_cart_container a:hover {
    text-decoration: underline;
}

#ngg_add_to_cart_container table {
    table-layout: auto;
}

#ngg_add_to_cart_container table th {
    color: #777777;
    font-weight: normal;
    padding: 0;
    margin: 0;
}

#ngg_add_to_cart_container .nggpl-quantity_field {
    box-sizing: border-box;
    white-space: nowrap;
    padding-right: 2px;
}

#ngg_add_to_cart_container .nggpl-quantity_field input {
    -moz-appearance: textfield;
}

#ngg_add_to_cart_container .nggpl-quantity_field input:hover {
    -moz-appearance: number-input;
}

#ngg_add_to_cart_container .nggpl-quantity_field input {
    box-sizing: border-box;
    width: 98%;
}

#ngg_add_to_cart_container .nggpl-description_field {
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding-left: 4px;
    padding-right: 4px;
}

#ngg_add_to_cart_container .nggpl-price_field,
#ngg_add_to_cart_container .nggpl-total_field {
    box-sizing: border-box;
    white-space: nowrap;
    padding-left: 6px;
    text-align: right;
    word-break: break-all;
}

#ngg_add_to_cart_container table input {
    background-color: #1b1d1f;
    color: white;
    width: 100%;
}

#ngg_add_to_cart_container .ui-accordion-header-icon {
    margin-right: 5px;
}

#ngg_add_to_cart_container #ngg_checkout_btn,
#ngg_add_to_cart_container #ngg_update_cart_btn {
    font-family: "Lato",Helvetica,Arial,sans-serif;
    padding: 0.75em 1.5em;
    font-size: 13px;
    font-weight: bold;
    color: #ffffff;
    border: none;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    vertical-align: middle;
    display: inline-block;
    text-decoration: none;
    margin: 0 0 .5em 0;
    line-height: 1.75;
    letter-spacing: .04em;
    -webkit-appearance: none;
    text-shadow: none;
    background-color: rgba(15, 146, 221, 0.99);
    text-transform: uppercase;
    width: 100%;
    height: auto;
}

#nggpl-items_for_sale > input:first-of-type {
    margin-right: 10px;
}

#ngg_add_to_cart_container #ngg_checkout_btn:hover,
#ngg_add_to_cart_container #ngg_update_cart_btn:hover {
    opacity: 0.75;
    transition: opacity 0.3s ease 0s;
    -moz-transition: opacity 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s;
}

#nggpl-not_for_sale {
    text-align: center;
    display: none;
}

#nggpl-items_for_sale {
    display: none;
    text-align: center;
}

#nggpl-items_for_sale th {
    text-transform: uppercase;
}

.nggpl-source_contents input {
    padding: 1px;
}

.nggpl-cart_summary {
}

.nggpl-source_contents:last-child {
    margin-bottom: 20px;
}

.galleria-theme-nextgen_pro_lightbox #ngg_add_to_cart_container .nggpl-sidebar-thumbnail {
    margin: 30px 0 35px;
}

/******* Lightbox 'white' variation ******/

.nggpl-variant-white #ngg_add_to_cart_container h1,
.nggpl-variant-white #ngg_add_to_cart_container h2,
.nggpl-variant-white #ngg_add_to_cart_container h3,
.nggpl-variant-white #ngg_add_to_cart_container h4,
.nggpl-variant-white #ngg_add_to_cart_container h5,
.nggpl-variant-white #ngg_add_to_cart_container h6 {
    color: #7A7A7A;
}

.nggpl-variant-white #ngg_add_to_cart_container *,
.nggpl-variant-white #ngg_add_to_cart_container a {
    color: #777777;
}

.nggpl-variant-white #ngg_add_to_cart_container #ngg_checkout_btn,
.nggpl-variant-white #ngg_add_to_cart_container #ngg_update_cart_btn {
    color: #FFFFFF;
    background-color: #777777;
}

.nggpl-variant-white #ngg_add_to_cart_container table input,
.nggpl-variant-white #ngg_add_to_cart_container table textarea {
    color: #222;
    background-color: #f7f8f9;
}
