.overflow{
    overflow: hidden;
}

.banner {
    position: relative;
    overflow:hidden;
    height:85vh;

    &:after {
        background-color: rgba(102, 38, 157, 0.3);
    }
    
    video {
        width:100%;
    }//video

    .banner-text {
        position:absolute;
        color: #fff;  
        top: 50%;
        left: 30px;
        right: 30px;
        z-index: 8;
        text-align:center;
        @include translate(0, -50%);
        @include transition(all 0.4s linear);

        //banner text-animation
        &.ani{
            h1{
                opacity:1;
                @include translate(0,0);
            }
            span{
                opacity:1;
                @include translate(0,0);
            }
        }
        h1{  
            @extend %banner-title;
            opacity:0;
            font-size:70px;
            @include translate(-100px, 0);
            @include media(lg){font-size: 80px;}
            @include transition(all 0.8s ease-in-out);
            @include media(mb){font-size: 40px;margin-top: 50px;}
        }

        span{
            font-size: 20px;
            opacity:0;
            display:block;
            @include translate(100px, 0);
            @include transition(all 0.8s ease-in-out);
        }
        
        //media query
        @include media(ms){
            top:60%;

            h1{
                font-size: 38px;
                font-weight: bold;
                margin: 0px 0 0;
            }
            span{
                font-size: 16px;
            }
        }
        
    } //.banner-text
    
    // media query
    @include media( md ){
        min-height: 500px;
        height:initial;
        
        &:after{
            content:'';
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            z-index:3;
            background-color:rgba($title, 0.7);
        }   
        
        img, iframe{
            opacity: 1;
            width: 100%;
        }
        
        .banner-text{
            h1{  
                opacity: 1;
                @include translate(0, 0);
            }
            span{
                opacity: 1;
                @include translate( 0, 0 );
            }
        }
        
    } //media query
} //.banner 



