footer.site-footer{ 
    background:darken($footer-color, 30%);
    color:$white;
    font-weight:300;
    padding:50px 0 40px;
    font-size:14px;

    h2{
        font-size:20px;
        color: $white;
        line-height:22px;
        font-weight:300;
        text-transform:uppercase;  
        margin-bottom: 15px;
        
        @include media( md ){
            font-size:16px;
        }
    }
  
    //footer contact detail
    .footer-contact-detail{
        .textwidget{
            a{
                color: $white;
            }
        }
    }

    //social links
    .social-links{
        margin-top:30px;
        a{
            margin: 0 2px;
            display:inline-block;
            
            .hugo-facebook{
                &:hover{
                    .icon{
                        fill:darken( $color_facebook, 5% );
                    }
                }
            
                .icon{
                    fill:$white;
                }
            }
            .hugo-instragram{
                &:hover{
                    .icon{
                        fill:darken( $color_instragram, 5% );
                    } 
                }
                .icon{
                    fill:$white;
                }
            }
            &:first-child{
                margin-left:0;
            }
            &:last-child{
                right:0;
            }
        }
    }//social links
    

    .footer-opening-hours{
        
        .restaurang-hours, 
        .bowling-hours, 
        .nightclub-hours{
            width: 33.333333333333334%;
            float: left;
            padding-left: 7.5px;
            padding-right: 7.5px;
            
            @extend %table-gap;
            
            @include media( xs ){
                width:100%;
                padding-left: 15px;
                padding-right: 15px;
                text-align: center;
                margin-bottom: 10px;
                
                table{
                    display: inline-block;
                }
                
                h2{
                    font-size: 24px;
                }
            }
            
            @include media( mb ){
                h2{
                    font-size: 20px;
                }
            }
        }
    } //footer-opening-hours
    
    @include media( sm ){
        .footer-contact-detail{
            text-align: center;
            margin-bottom:40px;
            
            h2{
                font-size:24px;
            }
        }
    }
    
}//footer