//for menu scroll
body.open{
    overflow: hidden;
}

header.site-header{
    display: block !important;
    text-align:center;
    padding-top:10px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    @include transition(all 0.3s linear);

    &.fix-header, &.fix-header-inner{
        padding-top: 5px;
        &.header-day{
           background-color: $title;
        }

        .main-navigation{

            .menu-left-header-menu-container, .menu-right-header-menu-container{
                margin-top: 22px;
            }

            .logo{
                overflow: hidden;

                .logo-full{
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    @include scale( 0.8 );
                }
                .logo-half{
                    position: relative;
                    opacity: 1;
                    @include scale( 1 );
                    @include transition( opacity 0.2s linear, transform 0.2s linear );

                    @include media( sm ){
                        height: 60px;
                    }
                }

                
                //for mobile svg logo
                @include media( xs ){
                    height: 70px;
                        svg{
                        width: 160px;
                        position: relative;
                        top: -38px;  
                        opacity: 1;
                        @include scale( 1 );                    
                        @include transition( opacity 0.2s linear, transform 0.2s linear );

                        #upper, #lower-text, #design{
                           opacity:0;
                             @include media( sm ){
                                 height: 60px;
                             }
                             @include media(xs){
                                 width: 150px;                         
                                 top: -40px;
                             }  
                        }               
                    }//svg
                }

            } //Logo



        } //Main-navigation

    } //Fixed header

    .main-navigation{
        text-transform: uppercase;
        @include transition(all 0.3s linear);

        .menu-left-header-menu-container{
            float: left;
            @include transition(all 0.3s linear);

            @extend %menu-cs;
            ul{  
                li{
                    margin-right: 5px;
                }
            }
        }//menu-left-header-menu-container
        .logo{
            display: inline-block;
            position: relative;
            @include transition(all 0.3s linear);

            a{
                .logo-full{
                    position: relative;
                    opacity: 1;
                    @include scale( 1 );
                    @include transition( opacity 0.3s linear, transform 0.3s linear );
                }
                .logo-half{
                    position: absolute;
                    left: 0;
                    top: 0;
                    opacity: 0;
                    @include scale( 0.7 );
                }
                svg{
                    display: none;
                }
                @include media( xs ){
                    .logo-full, .logo-half{
                        display: none;
                    }
                    svg{
                        width:200px;
                        display: block;
                        @include transition(all 0.3s linear);

                        #upper, #lower-text, .design{
                            @include transition(all 0.1s linear);
                        }
                    }
                }
            }
        }//.logo
        .menu-right-header-menu-container{
            float: right;
            @extend %menu-cs;
            ul{
                float: right;
                li{
                    margin-left: 5px;
                }
            }
        }
        a{
            color: $white;
        }
    }//.main-navigation

}//header


