//IMAGE WRAPPER
.image-cover{
    position:relative;  
    .loading-img{
        width: 26px;
        @extend %center;
    }

    &.ani{
        .img-wrapper{
            .caption{
                .entry-header{
                    opacity:1;
                    @include translate(0, 0);
                    @include transition(all 0.4s linear 0.5s);
                }
                .btn-link{
                    opacity:1;
                    @include translate(0, 0);
                    @include transition(all 0.4s linear 0.6s);
                }
            }
        }
    }

    .img-wrapper{
        min-height: 550px;
        position:relative;
        background-position: center;
        background-size: cover;
        @include media(mb){
            min-height: 400px;
        }

        &.active{
            opacity: 1;
            background-size: 100%;
            &:after{
                opacity: 1;
            }
            .caption{
                .entry-header{
                    opacity:1;
                    @include translate(0, 0);
                }
                .btn-link{
                    opacity:1;
                    @include translate(0, 0);           
                }
            }
        }

        .caption
        {
            @extend %center-tb;
            top:50%;
            top:calc(50% + 35px);
            z-index:5;
     
            .btn-link{
                opacity:0;
                @include translate(0, 50px);
            }
          
            .entry-header{
                @extend %banner-title;
                margin-top: 0;
                line-height: 1;
                margin-bottom: 40px;
                @include clearfix();
                @extend %banner-title;
                font-size:70px;
                opacity:0;
                @include translate(0, 50px);
            }
            
            @include media ( mb ){
                left: 15px; 
                right: 15px;
                .entry-header{
                    font-size:28px;
                }
            }
        }
    }//.img-wrapper
}//.image-cover