.restro-btn {
    @extend %btn-primary;
}
.btn-bordered{
  @extend %btn-bordered;
}
//RESTAURANT BLOCK
.restaurant-block{
    background-color:transparent;
    .restro-block{
        margin-top:15px;
        margin-bottom:15px;
    }
}
