.nojen {
    a{
        color:$night-title-color;
        &:hover, &:focus, &:active, &:visited{
            text-decoration:none;
            color:$night-title-color;
        }
    }
}

.inner-page 
{
    .restaurant-block{
        background-color: transparent;
        padding: 0 0;
        margin-bottom: 60px;
    }
    
    //DESCRIPTION
    .description{ 
        padding: 60px 0; 
        line-height: 2;  
        @include clearfix();

        .modal-sub-title{
            color: $title ;
            margin: 0 0 30px;
            font-weight: 400;
            line-height: 22px;
            font-size:25px;
            line-height: 1.1;
            text-transform: uppercase;
        }

    } //description
    
}

