.event-name{
    .restro-slider{
        .restro-design{
            background-size:cover;
            &:after{
                background-color:rgba($black, 0.4);
            }
            .restro-text{
                .restro-title{
                    font-size: 45px;
                    font-weight: 300;
                    
                    @include media(xs){
                        font-size:25px;
                    }
                }
                .restro-btn{
                    &:hover{
                        background-color:$black;
                    }
                }
            }
        }
    }
}//.event-name

