.cp-right-f{
    padding-right:15px;
}
.cp-right{
    padding-right:7.5px;
}
.cp-left{
    padding-left:7.5px;
}

//media query
@include media( sm ){
    
    .cp-right-f{
        padding-right:0;
    }
    .cp-right{
        padding-right:0;
        padding-bottom: 15px;
    }
    .cp-left{
         padding-left:0;
    }
}  