.down-arrow{
    @include animation(up-down 1s ease-in-out infinite);
    cursor:pointer;
    width:45px;
    height:45px;
    display: inline-block;
    cursor: pointer;
    
    @at-root{
        @include keyframes(up-down){
            0%   {transform: translateY(0px);}
            50% {transform: translateY(15px);}
            100%   {transform: translateY(0px);}
        }
    }

    &:hover
        {
        animation-play-state: paused;
    }
    &:before
        {
        content: '';
        width: 1px;
        height: 30px;
        background: #fff;
        position: absolute;
        transform-origin: 100% 100%;
        transform: rotate(-45deg) translate(-3px, 2px);
    }
    &:after
        {
        content: '';
        width: 1px;
        height: 30px;
        background: #fff;
        position: absolute;
        transform-origin: 100% 100%;
        transform: rotate(45deg) translate(4px, 5px);
    }
}