/*
.c-modal-box{
    padding-left:0px !important;
    z-index:9999999;

    //MODAL CLOSE BUTTON
    .modal-close
    {
        width: 30px;
        height: 30px;
        position: fixed;
        top: 20px;
        cursor: pointer;
        right: 20px;
        z-index: 999;
        background: rgba(0, 0, 0, 0.50);
        border-radius: 50%;
        @include box-shadow(0px 0px 0px 10px rgba(0, 0, 0, 0.50));
        @include transition(all 0.3s ease-in-out);
        @include scale(0.7);

        &:hover{
            @include transform(rotate(90deg) scale(0.8));
        }

        span{
            height: 2px;
            width: 100%;
            background: #fff;
            display: inline-block;
            transform-origin: center;

            &:first-child{
                background: $white;
                width: 2px;
                height: 35px;
                display: inline-block;
                @include transform (rotate(45deg) translate(8px, -12px));
            }
            &:last-child{
                background: $white;
                width: 2px;
                height: 35px;
                display: inline-block;
                @include transform (rotate(-45deg) translate(8px, 4px));
            }
        }
    }

    .modal-dialog{
        width:100%;
        margin:-1px;
        position: fixed;
        height: 100vh;
        overflow: scroll;

        .modal-content{
            border:none;
            min-height: 100vh;
            @include border-radius(0);
            @include box-shadow(none);  

            .modal-body{
                padding:0;

                .restaurant-block{
                    background-color:transparent;
                    padding:0 0;
                }
            }//modal boday
        }//modal-content

    }//.modal-dialog

    .restaurant-block p{
        max-height: initial;
        overflow: initial;
    }
}//.c-modal-box

*/
