//common
.common{
    background: #f6f7f8;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    background: #f6f7f8;
    background-image: -webkit-linear-gradient(left, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-repeat: no-repeat;
    background-size: 800px 135px;
}

//text-loader
.text-loader{
    
    .line-collection
    {
        overflow:hidden;
        padding-top: 5px;
        
        .l-title
        {
            margin-bottom:15px;
            div:first-child{
                    width:100px;
            }
            div:last-child{
                    width:150px;
            }
        }
        .line
        {
            width:100%;
            height:10px;
            margin-bottom:10px;
            -webkit-animation-duration: 1s;
            -moz-animation-duration: 1s;
            -o-animation-duration: 1s;
            animation-duration: 1s;  

            @at-root{
                @include keyframes(placeHolderShimmer)
                {
                        0% {
                        background-position: -468px 0;
                    }
                        100% {
                            background-position: 468px 0;
                        }
                }
            }
        }//line
        
    }//line-collection
}//text-loader