<div class="daily-menu-details">
    <table style="text-align: center; padding-left:50px; ">
        <tbody>
        <tr>
            <td>@menu_logo@<br></td>
        </tr>
        <tr>
            <td style="font-size:22px; font-weight:light; line-height: 50px;">@menu_week@</td>
        </tr>
        <tr>
            <td style="font-weight:100; font-size:12px;">@menu_description@<br></td>
        </tr>
        <tr>
            <td style="font-size:12px; font-style:italic;font-weight:400;">@menu_price_info@</td>
        </tr>
        <tr>
            <td>@menu_items@ <br><br><br></td>
        </tr>
        <tr>
            <td style="font-weight:100; font-size:14px;">@menu_footer_info@<br></td>
        </tr>
        </tbody>
    </table>
</div>
<div style="line-height:25px;font-size:15px;">&nbsp;</div>