a {
  color: #4a2867;
}
a:hover, a:focus, a:active, a:visited {
  text-decoration: none;
  color: #4a2867;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

header.site-header .main-navigation .menu-left-header-menu-container, header.site-header .main-navigation .menu-right-header-menu-container {
  margin-top: 50px;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (max-width: 991px) {
  header.site-header .main-navigation .menu-left-header-menu-container, header.site-header .main-navigation .menu-right-header-menu-container {
    display: none;
  }
}
header.site-header .main-navigation .menu-left-header-menu-container, header.site-header .main-navigation .menu-right-header-menu-container {
  min-width: 414px;
}
header.site-header .main-navigation .menu-left-header-menu-container ul, header.site-header .main-navigation .menu-right-header-menu-container ul {
  margin: 0;
  padding: 0;
}
header.site-header .main-navigation .menu-left-header-menu-container ul:before, header.site-header .main-navigation .menu-right-header-menu-container ul:before, header.site-header .main-navigation .menu-left-header-menu-container ul:after, header.site-header .main-navigation .menu-right-header-menu-container ul:after {
  content: " ";
  display: table;
}
header.site-header .main-navigation .menu-left-header-menu-container ul:after, header.site-header .main-navigation .menu-right-header-menu-container ul:after {
  clear: both;
}
header.site-header .main-navigation .menu-left-header-menu-container ul li, header.site-header .main-navigation .menu-right-header-menu-container ul li {
  float: left;
  list-style: none;
}
header.site-header .main-navigation .menu-left-header-menu-container ul li a, header.site-header .main-navigation .menu-right-header-menu-container ul li a {
  position: relative;
  display: inline-block;
  margin: 3px 10px;
  border-radius: 15px;
  font-weight: 100;
  -webkit-transition: background-color 0.4s ease-in-out;
  -moz-transition: background-color 0.4s ease-in-out;
  -o-transition: background-color 0.4s ease-in-out;
  transition: background-color 0.4s ease-in-out;
}
header.site-header .main-navigation .menu-left-header-menu-container ul li a:after, header.site-header .main-navigation .menu-right-header-menu-container ul li a:after {
  content: '';
  position: absolute;
  top: 110%;
  left: 0;
  width: 0%;
  height: 1px;
  background-color: #fff;
  -webkit-transition: width 0.4s;
  -moz-transition: width 0.4s;
  -o-transition: width 0.4s;
  transition: width 0.4s;
}
header.site-header .main-navigation .menu-left-header-menu-container ul li a:hover:after, header.site-header .main-navigation .menu-right-header-menu-container ul li a:hover:after {
  width: 100%;
}

/*
%ns-title{
    font-size: 30px;
    line-height: 46px;
    font-weight: 400;
    color: $title;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
}*/
.image-cover .img-wrapper .caption {
  position: absolute;
  top: 50%;
  left: 30px;
  right: 30px;
  text-align: center;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.image-cover .loading-img {
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.banner .banner-text h1, .image-cover .img-wrapper .caption .entry-header {
  font-size: 55px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
}

.overlay {
  position: relative;
}
.overlay:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(74, 40, 103, 0.4);
}

header.site-header {
  display: block !important;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
@media (max-width: 767px) {
  header.site-header {
    height: 70px;
  }
}
header.site-header.fix-header, header.site-header.fix-header-inner {
  padding-top: 5px;
  background-color: #4a2867;
}
header.site-header.fix-header .main-navigation .menu-left-header-menu-container, header.site-header.fix-header .main-navigation .menu-right-header-menu-container, header.site-header.fix-header-inner .main-navigation .menu-left-header-menu-container, header.site-header.fix-header-inner .main-navigation .menu-right-header-menu-container {
  margin-top: 15px;
}
header.site-header.fix-header .main-navigation .logo, header.site-header.fix-header-inner .main-navigation .logo {
  overflow: hidden;
  height: 55px;
}
header.site-header.fix-header .main-navigation .logo svg, header.site-header.fix-header-inner .main-navigation .logo svg {
  width: 130px;
  position: relative;
  top: -33px;
}
header.site-header.fix-header .main-navigation .logo svg #upper, header.site-header.fix-header .main-navigation .logo svg #lower-text, header.site-header.fix-header .main-navigation .logo svg .design, header.site-header.fix-header-inner .main-navigation .logo svg #upper, header.site-header.fix-header-inner .main-navigation .logo svg #lower-text, header.site-header.fix-header-inner .main-navigation .logo svg .design {
  opacity: 0;
}
@media (max-width: 767px) {
  header.site-header.fix-header .main-navigation .logo svg, header.site-header.fix-header-inner .main-navigation .logo svg {
    width: 150px;
    top: -40px;
  }
}
header.site-header .main-navigation {
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
header.site-header .main-navigation .menu-left-header-menu-container {
  float: left;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
header.site-header .main-navigation .menu-left-header-menu-container ul li {
  margin-right: 5px;
}
header.site-header .main-navigation .logo {
  display: inline-block;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
header.site-header .main-navigation .logo svg {
  width: 200px;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
header.site-header .main-navigation .logo svg #upper, header.site-header .main-navigation .logo svg #lower-text, header.site-header .main-navigation .logo svg .design {
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
header.site-header .main-navigation .logo a img {
  max-width: 150px;
}
header.site-header .main-navigation .menu-right-header-menu-container {
  float: right;
}
header.site-header .main-navigation .menu-right-header-menu-container ul {
  float: right;
}
header.site-header .main-navigation .menu-right-header-menu-container ul li {
  margin-left: 5px;
}
header.site-header .main-navigation a {
  color: #fff;
}

.overflow {
  overflow: hidden;
}

.banner {
  position: relative;
  overflow: hidden;
  height: 85vh;
}
.banner:after {
  background-color: rgba(102, 38, 157, 0.3);
}
.banner.animation img, .banner.animation iframe {
  opacity: 1;
  -webkit-transition: opacity 0.8s linear;
  -moz-transition: opacity 0.8s linear;
  -o-transition: opacity 0.8s linear;
  transition: opacity 0.8s linear;
}
.banner img, .banner iframe {
  opacity: 0;
}
@media (max-width: 767px) {
  .banner {
    height: initial;
  }
  .banner:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(74, 40, 103, 0.7);
  }
}
.banner video {
  width: 100%;
}
.banner .banner-text {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 30px;
  right: 30px;
  z-index: 8;
  text-align: center;
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.banner .banner-text.ani h1 {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.banner .banner-text.ani span {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
.banner .banner-text h1 {
  opacity: 0;
  font-size: 70px;
  -moz-transform: translate(-100px, 0);
  -o-transform: translate(-100px, 0);
  -ms-transform: translate(-100px, 0);
  -webkit-transform: translate(-100px, 0);
  transform: translate(-100px, 0);
}
@media (min-width: 1400px) {
  .banner .banner-text h1 {
    font-size: 80px;
  }
}
@media (max-width: 480px) {
  .banner .banner-text h1 {
    font-size: 40px;
    margin-top: 50px;
  }
}
.banner .banner-text span {
  font-size: 20px;
  opacity: 0;
  display: block;
  -moz-transform: translate(100px, 0);
  -o-transform: translate(100px, 0);
  -ms-transform: translate(100px, 0);
  -webkit-transform: translate(100px, 0);
  transform: translate(100px, 0);
}

@media (max-width: 400px) {
  .banner .banner-text {
    top: 60%;
  }
  .banner .banner-text h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 35px 0 0;
  }
  .banner .banner-text span {
    font-size: 16px;
  }
}
.image-cover {
  position: relative;
}
.image-cover .loading-img {
  width: 26px;
}
.image-cover.animation .img-wrapper {
  opacity: 1;
  -webkit-transition: opacity 0.6s linear;
  -moz-transition: opacity 0.6s linear;
  -o-transition: opacity 0.6s linear;
  transition: opacity 0.6s linear;
}
.image-cover.animation .img-wrapper .caption .entry-header {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.4s linear 0.5s;
  -moz-transition: all 0.4s linear 0.5s;
  -o-transition: all 0.4s linear 0.5s;
  transition: all 0.4s linear 0.5s;
}
.image-cover.animation .img-wrapper .caption .btn-link {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: all 0.4s linear 0.6s;
  -moz-transition: all 0.4s linear 0.6s;
  -o-transition: all 0.4s linear 0.6s;
  transition: all 0.4s linear 0.6s;
}
.image-cover .img-wrapper {
  min-height: 550px;
  position: relative;
  opacity: 0;
}
@media (max-width: 480px) {
  .image-cover .img-wrapper {
    min-height: 300px;
  }
}
.image-cover .img-wrapper .caption .entry-header {
  opacity: 0;
  -moz-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
}
.image-cover .img-wrapper .caption .btn-link {
  opacity: 0;
  -moz-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -webkit-transform: translate(0, 50px);
  transform: translate(0, 50px);
}
.image-cover .img-wrapper.active {
  opacity: 1;
  background-size: 100%;
}
.image-cover .img-wrapper.active:after {
  opacity: 1;
}
.image-cover .img-wrapper.active .caption .entry-header {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.image-cover .img-wrapper.active .caption .btn-link {
  opacity: 1;
  -moz-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
.image-cover .img-wrapper .caption {
  top: 50%;
  top: calc(50% + 35px);
  z-index: 5;
}
.image-cover .img-wrapper .caption .entry-header {
  margin-top: 0;
  line-height: 1;
  margin-bottom: 40px;
  font-size: 70px;
}
.image-cover .img-wrapper .caption .entry-header:before, .image-cover .img-wrapper .caption .entry-header:after {
  content: " ";
  display: table;
}
.image-cover .img-wrapper .caption .entry-header:after {
  clear: both;
}
@media (max-width: 480px) {
  .image-cover .img-wrapper .caption .entry-header {
    font-size: 35px;
  }
}

/*# sourceMappingURL=above-fold.css.map */
