.boka-board{
    text-align:center;
    background-color:#faf9f5;
    padding: 70px 0;

    h2{
        @extend %title;
        margin-bottom: 40px;
        padding:0 0;
        text-align: left;
    }
    .discription{
        font-size: 16px;
        line-height: 22px;
        font-weight: 300;
    }

    iframe{
        width: 100%;
        border:0;
    }

    //media
    @include media(sm){
        .boka-bord-n-bowl{
            margin-bottom: 60px;
            
        }
        h2{   
            font-size: 30px;
            margin-bottom: 20px;
            text-align: center;
        }
        .discription{
            text-align:center;  
            margin-bottom:30px;
        }
    }//media

}//boka-board