.bowling-n-musikquiz{
    padding:15px 0;

    .text{
        @extend %overlay;
        .caption{
            z-index: 20;  
            .restro-title{
                color:$white;
            }
            .sub-para{
                color:$white;
            }
            .restro-btn{
                border-color:$white;
                color:$white;
            }
        }
    }
    
    
}