.day-fornoles-skull{
    padding: 80px 15% 95px;
    text-align:center;
    background-color:rgba( $common-bg-color, 0.7 );

    @include media(xs){
        padding:40px 0;
        padding: 80px 15px 60px;
    }
    
    @include media(mb){
        h2{
            font-size: 28px;
        }
    }

    .title{
        @extend %title;
        margin-bottom: 50px;
    }
    .desc{
        @extend %c-desc;
        font-weight: 100;
        font-size:16px;
    }
}