
.design-lunch{
    color: $link;
    text-align:center;
    @include clearfix();

    .image{  
        min-height:450px;
        background-size:cover;
    }

    .text{
        min-height:450px;
        position:relative;

        .caption{
            position:absolute;
            top: 50%;
            left:0;
            right:0;
            margin-left:25px;
            margin-right:25px;
            @include translate(0, -50%);

            .restro-title
            {
                @extend %title;  
                margin-bottom:30px;
            }//restro-title

            .sub-para{
                @extend %c-desc;
                font-weight: 300;
            }//restro-sub-para

            .restro-btn{
                @extend %btn-bordered;
                margin-top:40px; 
                border: 1px solid $title;
                color: $title;
                text-transform: uppercase;  
                font-weight: 400;
            }//.restro-btn
        }

        @include media(mb){
            padding-left:15px;
            padding-right:15px;
            font-size: 40px;
        }
    }//.restro-text

    //media query
    @include media(sm){
        .image{  
            min-height:300px;
        }
        .text{
            min-height:inherit;
            padding:60px 0;
            .caption{
                position: relative;
                top: initial;
                margin-left: 15px;
                margin-right: 15px;
                @include translate(0, 0);
            }
        }  
    }


}//.design-lunch