.slide
{
    .restro-slider
    {
        position:relative;


        @include media(xs){
            .restro-design-1{
                min-height:400px;
            }
        }

        .restro-design-1
        {
            position: relative;
            min-height:480px;

            &.bg-cover{
                background-size: cover;
                background-position: bottom;
            }
            
            //media query
            @include media(sm){
                min-height: 380px;
            }

            .restro-text
            {
                color: $white;
                font-size: 13px;
                left: 15%;
                margin: 0 auto;
                position: absolute;
                right: 15%;
                text-align: center;
                top: 50%;
                z-index:9;
                font-weight: 100;
                word-wrap: break-word;
                line-height: 50px;
                @include translate(0, -50%);

                @include media(xs){
                    top:50%;
                    left:30px;
                    right:30px;
                    @include translate(0, -50%);
                }

                .restro-title
                {
                    font-size: 70px;
                    line-height: 1;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    margin-bottom: 40px;
                    display: block;
                    //media query
                    @include media(sm){
                        font-size: 40px;
                    }
                    @include media(xs){
                        font-size: 28px;
                    }
                }//restro-title

                .restro-sub-title
                {
                    margin: 40px 0 30px;
                    line-height: 25px;
                    font-size: 18px;
                }//restro-sub-title

                .restro-btn 
                {
                    border: 1px solid $white;
                    color: $white;
                    padding-top:0;
                    padding-bottom:0;
                    text-transform: uppercase;  
                    @extend %btn-bordered;
                } //retro-btn

            }//restro-text
        }//restro-design-1


    }//restro-slider


    .left,
    .right{
        background-image: inherit;
        z-index:9; 
    }

    .glyphicon-chevron-right:before,
        .glyphicon-chevron-left::before{
        content: '';
    }

    .glyphicon-chevron-left:before{
        content: '';
    }

    ol.carousel-indicators{
        display: none;
    }

}//slide
