.restaurant-block{
    padding: 50px 30px;   
    font-size:13px;
    line-height:17px;
    background-color:$common-bg-color;
    @include clearfix();

    h2{
        @extend %title;
        margin-bottom: 50px;
    }

    .restro-block{

        @include media( ip ){
            width:100%;
        }

        &:hover{
            .resturant-img{
                img{
                    @include scale(1.2);
                }
            }
        }
        @include media(xs){
            margin-bottom: 15px;
        }

        &:hover{
            .resturant-img{
                &:after{
                    opacity:1;
                }
            }
        }

        .resturant-img{
            margin-bottom: 20px;
            overflow:hidden;
            position:relative;
            @extend %overlay;
            &:after{
                background-color: rgba(102, 38, 157, 0.4);
                opacity:0;
                @include transition(opacity 0.3s ease-in-out)
            }

            img{
                width: 100%;
                @include scale(1);
                @include transition(all 0.2s ease-in-out);
            }
        }//resturant-img

        .resturant-title{
            color: $title;
            font-size: 25px;
            font-weight: 100;
            word-wrap: break-word;
            line-height:22px;
            text-transform:uppercase;
            margin-bottom: 15px;

            a{
                color: $title;
                line-height: 32px;
            }
        }//resturant-title
        .see-more{
            position: relative;
            color: $link;
            padding-top: 15px;
            display: inline-block;
            font-size: 14px;
            @include transition(letter-spacing 0.3s linear);

            &:hover{
                letter-spacing:1px;
                &:before{
                    width:10px;
                }
            }
            &:before{
                position:absolute;
                content: '';
                border-top:2px solid #505050;
                width: 60px;
                top: 0;
                @include transition(width 0.3s linear);
            }

            &:hover{
                text-decoration: none;
                color: $title;
            }
        }//see-more
    }//restro-block

    p{  
        margin-bottom: 25px;
        line-height: 1.6;
        font-size: 16px;
        max-height: 50px;
        overflow: hidden;
        
        @include media(xs){
            height: 60px;
            overflow: hidden;
        }
    }
}//restaurant-block



@include media(xs){
    .restaurant-block{  
        padding: 30px 0px; 

        h2{
            margin-bottom: 40px;
            margin-top: 30px;
        }
    }
}