.o-hours-n-booking{
    margin-bottom: 40px;
    padding: 60px 0 30px;

    iframe{
      float: right;
      width: 589px;
      max-width: 100% !important;
    }
    .modal-sub-title{
        font-size: 25px;   
        color:$title;
        margin: 0 0 20px;
    }
    
    @include media( md ){
        padding: 60px 0;
    }
    
    @include media ( xs ){
        iframe{
            margin-top: 40px;
            float: none;
        }
    }
}

.blowing-description{
   
    iframe{
        border: none;
    }
    .modal-sub-title-small{ 
        margin: 0 0 20px;
    }
    .our-price-n-time{
        line-height: 20px;
        .time{
            font-weight:500;
            margin-bottom:0px;
        }
        .price{
            margin-bottom:15px
        }
    }
}