/**
 *
 * -----------------------------------------------------------------------------
 *
 * 1. Extend/Override WPMU DEV Dashboard Styles
 * 2. Common/General Styles
 * 3. Components/Modules
 * 4. Page: Welcome/Dashboard
 * 5. Page: Performance
 * 6. Page: Minification
 * 7. Page: Browser Caching
 * 8. Page: GZIP
 * 9: Page: Uptime
 * 10: Responsive/MQ
 *
 * -----------------------------------------------------------------------------
 */

/* ****************************************************************************
 * 1. EXTEND/OVERRIDE WPMUDEV DASHBOARD/WP STYLES
 */
.wpmud .spinner.standalone {
	float: none;
	margin: 0;
}
.wpmud .spinner.left {
	float: left;
}
.wpmud .spinner.hide { /* Don't take/render block on layout */
	display: none;
}
.wpmud .spinner.visible { /* Re-set visibility to visible */
	visibility: visible;
}
.wpmud #wpmu-install-dashboard {
	margin-left: 0;
}
.wpmud #wpcontent #wpmu-install-dashboard * {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.wpmud #wpmu-install-dashboard .wpmu-message {
	font-family: inherit;
	font-weight: inherit;
	line-height: inherit;
}
.wpmud #header {
	margin-bottom: 30px;
	overflow: hidden;
}
.wpmud #header h1 {
	float: left;
	margin: 0;
}
.wpmud #header .actions {
	margin-top: 5px;
}
.wpmud #header .actions > * {
	display: inline-block;
	margin-left: 10px;
}
.wpmud #header .actions > *:first-child {
	margin-left: 0;
}
.wpmud #header .actions.label-and-button .actions-label {
	line-height: 30px;
	margin-bottom: 0;
}
.wpmud #header ~ .sub-header {
	margin-top: -15px;
	margin-bottom: 30px;
}
.wpmud .row {
	margin-top: 30px;
}
.wpmud .row:first-of-type {
	margin-top: 0;
}
.wpmud .row-space-large {
	margin-bottom: 40px;
}
.wpmud .row .col-center {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
.wpmud .row .col-quarter,
.wpmud .row .col-three-quarters {
	display: table-cell;
	padding: 0 15px 0 15px;
	position: relative;
	vertical-align: top;
}
.wpmud .row .col-quarter {
	width: 25%;
}
.wpmud .row .col-three-quarters {
	width: 75%;
}
.wpmud .row .col-quarter:first-child,
.wpmud .row .col-three-quarters:first-child {
	padding-left: 0;
}
.wpmud .row .col-quarter:last-child,
.wpmud .row .col-three-quarters:last-child {
	padding-right: 0;
}
.wpmud .dev-box {
	padding: 0;
}
.wpmud .dev-box:last-child {
	margin-bottom: 0;
}
.wpmud .dev-box .box-title {
	clear: both;
	height: inherit;
	margin: 0;
	padding: 0 30px;
}
.wpmud .dev-box .box-title h3 {
	float: left;
}
.wpmud .dev-box .box-title:after {
	content: '';
	display: table;
	clear: both;
}
.wpmud .dev-box .box-title .buttons-large {
	margin: 10px 0 0;
}
.wpmud .dev-box .box-title .buttons .spinner {
	margin-top: 10px;
}
.wpmud .dev-box .box-title .button {
	font-weight: 500;
}
.wpmud .dev-box .box-title .extra {
    float: right;
}
.wpmud .dev-box .box-title .extra-text {
	margin: 20px 0 0;
}
.wpmud .dev-box .box-title .extra-label {
	display: inline-block;
	margin: 0;
	line-height: 20px;
}
.wpmud .dev-box .box-title .extra-label-value {
	color: #477B92;
	font-weight: 400;
	text-transform: uppercase;
}
.wpmud .dev-box .box-title .wphb-select-group {
	margin: 8px 0 0;
}
.wpmud .dev-box .box-title .test-results {
	float: right;
	margin-top: 15px;
}
.wpmud .dev-box .box-title .test-results-label {
	display: block;
	float: left;
	font-family: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
	font-weight: 700;
	line-height: 30px;
	margin-right: 10px;
	text-transform: uppercase;
}
.wpmud .dev-box .box-title .test-results .wphb-score {
	display: block;
	float: left;
}
.wpmud .dev-box .box-title .toggle-group {
	margin: 6px 15px 0 0;
}
.wpmud .dev-box .box-content {
	padding: 30px;
	word-wrap: break-word;
}
.wpmud .dev-box .box-content > * {
	margin-bottom: 20px;
}
.wpmud .dev-box .box-content > *:last-child {
	margin-bottom: 0;
}
.wpmud .dev-box .box-content .row-space-large {
	margin-bottom: 40px;
}
.wpmud .box-content.no-padding {
	padding: 0;
}
.wpmud .box-content.no-vertical-padding {
	padding-top: 0;
	padding-bottom: 0;
}
.wpmud .box-content.no-side-padding {
	padding-right: 0;
	padding-left: 0;
}
.wpmud .box-content .buttons {
	margin-top: 20px;
}
.wpmud .box-content .buttons.buttons-on-left {
	text-align: left;
}
.wpmud .box-content .buttons.buttons-on-right {
	text-align: right;
}
.wpmud .box-footer {
	margin-top: 0;
	padding: 0 30px 30px 30px;
}
.wpmud .select-list-container .list-value {
	color: #477B92;
}
.wpmud .list-table > thead > tr > th {
	padding: 0 10px 8px 10px;
}
.wpmud .list-table > tbody > tr > td {
	padding: 10px;
}
.wpmud .list-table > tbody > tr:last-child > td {
	border-color: #eee;
}
.wpmud .list-table .radio-group.with-icon {
	display: inline-table;
}
.wpmud .list-table .radio-group.with-icon .dev-icon {
	vertical-align: middle;
}
.wpmud .dev-list {
	margin-top: -15px;
}
.wpmud .dev-list > li .list-data {
	border-bottom: 1px solid #EEE;
	cursor: default;
	display: table-cell;
	padding: 10px;
	vertical-align: middle;
}
.wpmud .dev-list > li:last-child .list-data {
	border-bottom: 1px solid transparent;
}
.wpmud .dev-list-stats-border > li:first-child .list-label,
.wpmud .dev-list-stats-border > li:first-child .list-data,
.wpmud .dev-list-stats-border > li:first-child .list-detail {
	border-top: 1px solid #eee;
}
.wpmud .dev-list-stats-border > li:last-child .list-label,
.wpmud .dev-list-stats-border > li:last-child .list-data,
.wpmud .dev-list-stats-border > li:last-child .list-detail {
	border-bottom-color: #eee;
}
.wpmud .dev-list-stats > li .list-label-stats,
.wpmud .dev-list-stats > li .list-detail-stats-heading {
	color: #555;
	font: 400 15px/35px 'Roboto Condensed', 'Roboto', Arial, sans-serif;
	text-transform: uppercase;
}
.wpmud .dev-list-stats > li .list-detail-stats-heading {
	font-size: 30px;
}
.wpmud .dev-list-stats > li .list-detail-stats-heading-extra-info {
	color: #BABABA;
	display: block;
	font: 500 12px/16px 'Roboto', Arial, sans-serif;
	margin-top: 5px;
}
.wpmud .dev-list-stats > li .list-label-stats-pills {
	line-height: 36px;
}
.wpmud .dev-list-stats.standalone {
	margin: 0;
}
.wpmud .dev-list-stats.small > li .list-label-stats,
.wpmud .dev-list-stats.small > li .list-detail-stats-heading {
	line-height: 26px;
}
.wpmud .dev-list-stats > li .list-detail-stats-heading.small {
	font-size: 26px;
}
.wpmud .dev-list-stats .wphb-pills-group {
	font-size: 0;
	line-height: 1em;
}
.wpmud .dev-list-stats .wphb-filename-extension {
	margin-right: 10px;
}
.wpmud .dev-list-stats > li .list-label-stats-filename {
	line-height: 40px;
}
.wpmud .dev-list-stats > li .list-label-stats-date {
	margin-right: 30px;
}
.wpmud .list-label-link {
	color: #19B4CF;
}
.wpmud .tooltip-box { overflow: hidden; }
.wpmud .tooltip-box:hover { overflow: visible; }
.wpmud .radio-group input[type="radio"] + label > [tooltip] {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.wpmud .wphb-dashboard-caching-cloudflare-box p {
	margin-top:30px;
	margin-bottom:20px;
}

.wpmud #wphb-box-dashboard-cloudflare .cloudflare-step form label {
	text-align: left;
	font-weight: 400;
	padding-left:0;
	padding-right:0;
}


.wpmud .cloudflare-step form label input {
	margin-top:10px;
}

.wpmud .cloudflare-step > p:first-child {
	text-align:left;
}

.wpmud .cloudflare-spinner {
	display: inline-block;
	float:none;
}
.wpmud .cloudflare-step p.cloudflare-submit,
.wpmud #cloudflare-how-to-title {
	position:relative;
	margin-top:11px;
}

.wpmud .cloudflare-step p.cloudflare-submit input[type="submit"] {
	display: inline-block;
	margin-top:0;
}

.wpmud #cloudflare-how-to {
	clear:both;
	margin-left:0;
	list-style-position: inside;
}

.wpmud .cloudflare-step > p {
	margin-bottom:30px;
}
.wpmud .cloudflare-step p.cloudflare-submit {
	float:right;
}
.wpmud #cloudflare-how-to-title {
	float:left;
	line-height: 40px;
}

.wpmud .cloudflare-step .cloudflare-data {
	text-align:left;
	margin-top:30px;
	margin-bottom:0;
}

.wpmud .cloudflare-data > span {
	display:inline-block;
	margin-right:20px;
}


/* Buttons */
.wrap-wp-hummingbird .button-with-cta {
	padding: 12px 20px 11px;
}
.wrap-wp-hummingbird .button-content-cta {
	margin-top: 30px;
}
.wrap-wp-hummingbird .button-red-alt {
	background: #fd6e70;
	color: #fff;
}
.wrap-wp-hummingbird .button-red-alt:hover:not(:focus):not(:active) {
	background: #E65454;
}
.wrap-wp-hummingbird .button-red-alt:active,
.wrap-wp-hummingbird .button-red-alt:focus {
    background: #B32121;
    background: -moz-linear-gradient(top, #B32121 0%, #CD3B3B 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a6550), color-stop(100%,#CD3B3B));
    background: -webkit-linear-gradient(top, #B32121 0%,#CD3B3B 100%);
    background: -o-linear-gradient(top, #B32121 0%,#CD3B3B 100%);
    background: -ms-linear-gradient(top, #B32121 0%,#CD3B3B 100%);
    background: linear-gradient(to bottom, #B32121 0%,#CD3B3B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#B32121', endColorstr='#CD3B3B',GradientType=0 );
}
.wrap-wp-hummingbird .button-app {
	background: #FFE900;
	box-shadow: 0px 3px 0px 0px #F0DB00;
	color: #4E4B10;
}
.wrap-wp-hummingbird .button-app:hover:not(:focus):not(:active) {
	background: #F0DB00;
	box-shadow: 0px 3px 0px 0px #D7C200;
	color: #4E4B10;
}
.wrap-wp-hummingbird .button-app:active,
.wrap-wp-hummingbird .button-app:focus {
	background: #f0dc00;
	background: -moz-linear-gradient(top, #f0dc00 0%, #e6cf00 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #f0dc00), color-stop(100%, #e6cf00));
	background: -webkit-linear-gradient(top, #f0dc00 0%, #e6cf00 100%);
	background: -o-linear-gradient(top, #f0dc00 0%, #e6cf00 100%);
	background: -ms-linear-gradient(top, #f0dc00 0%, #e6cf00 100%);
	background: linear-gradient(to bottom, #f0dc00 0%, #e6cf00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0dc00', endColorstr='#e6cf00', GradientType=0 );
	box-shadow: 0px 3px 0px 0px #D7C200;
    color: #4E4B10;
}
.wrap-wp-hummingbird .button-cta-green {
	background: #05AE7B;
	box-shadow: 0px 3px 0px 0px #048B62;
	color: #fff;
}
.wrap-wp-hummingbird .button-cta-green:hover:not(:focus):not(:active) {
	background: #048B62;
	box-shadow: 0px 3px 0px 0px #007249;
	color: #fff;
}
.wrap-wp-hummingbird .button-cta-green:active,
.wrap-wp-hummingbird .button-cta-green:focus {
	background: #05AE7B;
	background: -moz-linear-gradient(top, #05AE7B 0%, #048B62 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #05AE7B), color-stop(100%, #048B62));
	background: -webkit-linear-gradient(top, #05AE7B 0%, #048B62 100%);
	background: -o-linear-gradient(top, #05AE7B 0%, #048B62 100%);
	background: -ms-linear-gradient(top, #05AE7B 0%, #048B62 100%);
	background: linear-gradient(to bottom, #05AE7B 0%, #048B62 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05AE7B', endColorstr='#048B62', GradientType=0 );
	box-shadow: 0px 3px 0px 0px #007249;
    color: #fff;
}
.wrap-wp-hummingbird .button-load-more {
	background-color: transparent;
	border: 1px solid #ddd;
	border-radius: 50%;
	color: #bababa;
	font-family: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
	font-size: 13px;
	font-weight: 700;
	line-height: 18px;
	height: 140px;
	padding: 0;
	transition: color .4s, background-color .4s;
	width: 140px;
}
.wrap-wp-hummingbird .button-load-more:hover:not(:focus):not(:active) {
	background-color: #fafafa;
	border-color: #ddd;
	color: #777771;
}
.wrap-wp-hummingbird .button-load-more:active,
.wrap-wp-hummingbird .button-load-more:focus {
	background: #777771;
}
.wrap-wp-hummingbird .button-notice {
	background: #14485F;
	box-shadow: 0 0 0 1px #fff inset;
	color: #fff;
	margin-top: 20px;
}
.wrap-wp-hummingbird .button-notice-error:hover:not(:focus):not(:active) {
	background-color: #fff;
	color: #FF6D6D;
}
.wrap-wp-hummingbird .button-notice-error:active,
.wrap-wp-hummingbird .button-notice-error:focus {
	background: #E65454;
	box-shadow: none;
	color: #fff;
}
.wrap-wp-hummingbird .button-notice-success:hover:not(:focus):not(:active) {
	background-color: #fff;
	color: #1ABC9C;
}
.wrap-wp-hummingbird .button-notice-success:active,
.wrap-wp-hummingbird .button-notice-success:focus {
	background: #01A383;
	box-shadow: none;
	color: #fff;
}
.wrap-wp-hummingbird .button-notice-warning {
	background: transparent;
	box-shadow: 0 0 0 1px #4E4B10 inset;
	color: #4E4B10;
}
.wrap-wp-hummingbird .button-notice-warning:hover:not(:focus):not(:active) {
	background-color: #4E4B10;
	box-shadow: 0 0 0 1px #E5B616 inset;
	color: #FECF2F;
}
.wrap-wp-hummingbird .button-notice-warning:active,
.wrap-wp-hummingbird .button-notice-warning:focus {
	background: #4E4B10;
	box-shadow: none;
	color: #FECF2F;
}

/* Button Labels */
.wpmud .wphb-button-label {
	border: 1px solid transparent;
	border-radius: 5px;
	color: #fff;
	font: 500 15px/20px 'Roboto Condensed';
	display: inline-block;
	height: auto;
	margin: 0;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: none;
	text-transform: uppercase;
	white-space: nowrap;
}
.wpmud .wphb-button-label-small {
	font: 500 14px/20px 'Roboto Condensed';
	padding: 4px 12px;
}
.wpmud .wphb-button-label-red {
	background: #fd6e70;
}
.wpmud .wphb-button-label-green {
	background: #1ABC9C;
}
.wpmud .wphb-button-label-light {
	color: #777771;
	border-color: #e3e3e3;
}

/* Labels */
.wpmud .wphb-label {
	color: #fff;
	display: block;
	font: 500 15px/20px 'Roboto Condensed';
	text-shadow: none;
	white-space: nowrap;
}
.wpmud .wphb-label-error {
	color: #fd6e70;
}
.wpmud .wphb-label-success {
	color: #1ABC9C;
}
.wpmud .wphb-label-warning {
	color: #FECF2F;
}
.wpmud .wphb-label-notice {
	background: #14485F;
	border-radius: 3px;
	padding: 5px 10px;
}
.wpmud .wphb-label-notice-error {
	background: #fd6e70;
}
.wpmud .wphb-label-notice-success {
	background: #1ABC9C;
}
.wpmud .wphb-label-notice-warning {
	background: #FECF2F;
	color: #4E4B10;
}
.wpmud .wphb-label-notice-inline {
	display: inline-block;
}

/* Icons */
.wpmud .wphb-icon {
	position: relative;
}
.wpmud .wphb-icon-left {
	display: block;
	float: left;
}

/* ****************************************************************************
 * 2. COMMON/GENERAL STYLES
 */

/*.wp-hummingbird-page {
	max-width: 1366px;
}*/

/* Tables */
.wpmud .box-content.no-side-padding .wphb-table-wrapper {
	padding-right: 30px;
	padding-left: 30px;
}
.wpmud .wphb-table-wrapper.complex {
    min-height: .01%;
    overflow-x: auto;
}
.wpmud .wphb-table {
	font-weight: 400;
	max-width: 100%;
	width: 100%;
}
.wpmud .list-table.wphb-table tr:hover .wphb-table-td-has-tooltip {
	z-index: 3;
}
.wpmud .box-dashboard-performance-module .wphb-performance-report-heading-cta,
.wpmud .box-dashboard-performance-module .wphb-performance-report-item-cta {
	text-align: right;
}
.wpmud .performance-report-table {
	text-align: left;
}
.wpmud .performance-report-table .wphb-performance-report-item {
	position: relative;
}
.wpmud .performance-report-table .wphb-performance-report-item:hover td {
	cursor: pointer;
}
.wpmud .performance-report-table .wphb-performance-report-item-type {
	color: #bababa;
	text-transform: uppercase;
	transition: color .3s;
}
.wpmud .performance-report-table .wphb-performance-report-item:hover .wphb-performance-report-item-type {
	color: #555;
}
.wpmud .performance-report-table .wphb-performance-report-item-cta {
	text-align: right;
	width: 15%;
}
.wpmud .wphb-performance-report-item .trigger-additional-content {
	color: #bababa;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	line-height: 1em;
	height: 14px;
	margin: 8px 15px;
	transition: color .3s;
	vertical-align: middle;
}
.wpmud .wphb-performance-report-item .trigger-additional-content .dev-icon-caret_down:before {
	display: inline-block;
	transition: transform 0.5s;
	transform: rotate(0);
}
.wpmud .wphb-performance-report-item-opened .trigger-additional-content .dev-icon-caret_down:before {
    transform: rotate(-180deg);
}
.wpmud .performance-report-table .trigger-additional-content:hover {
	color: #777771;
}
/*.wpmud .performance-report-table .wphb-performance-report-item {
	border-bottom: 1px solid #eee;
}*/
.wpmud .performance-report-table .wphb-performance-report-item-opened {
	background: #f9f9f9;
}
.wpmud .performance-report-table .wphb-performance-report-item-opened:hover > td:first-child:after,
.wpmud .performance-report-table .wphb-performance-report-item-opened:hover > td:last-child:after {
	content: '';
	display: none;
}
.wpmud .performance-report-table .wphb-performance-report-item-additional-content {
	background: #f9f9f9;
	display: none;
	position: relative;
}
.wpmud .wphb-table.performance-report-table .wphb-performance-report-item-additional-content:hover,
.wpmud .wphb-table.performance-report-table .wphb-performance-report-item-opened:hover {
	background: #f9f9f9;
}
/*.wpmud .wphb-table.performance-report-table .wphb-performance-report-item-opened:hover > td {
	border-top: none;
	border-bottom: none;
}*/
.wpmud .performance-report-table .wphb-performance-report-item-additional-content-opened {
	display: table-row;
}
.wpmud .performance-report-table .wphb-performance-report-item-additional-content > td {
	padding: 30px 0;
	position: relative;
}
.wpmud .performance-report-table .wphb-performance-report-item-additional-content > td:before,
.wpmud .performance-report-table .wphb-performance-report-item-additional-content > td:after,
.wpmud .wphb-table.performance-report-table .wphb-performance-report-item-additional-content:hover > td:last-child:after {
	background: #f9f9f9;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	bottom: -1px;
	content: "";
	display: block;
	position: absolute;
	top: -58px;
	width: 30px;
}
.wpmud .performance-report-table .wphb-performance-report-item-additional-content > td:before {
	left: -30px;
}
.wpmud .performance-report-table .wphb-performance-report-item-additional-content > td:after,
.wpmud .list-table.performance-report-table .wphb-performance-report-item-additional-content:hover > td:last-child:after  {
	left: inherit;
	right: -30px;
}
.wpmud .wphb-performance-report-item-additional-content .dev-box .box-content {
	text-align: left;
}
.wpmud .wphb-performance-report-item-additional-content .dev-box:last-child {
	margin-bottom: 0;
}
.wpmud .wphb-performance-report-item-additional-content-heading {
	font-size: 22px;
	line-height: 26px;
	margin: 0 0 30px;
	max-width: 100%;
	text-align: center;
	text-transform: uppercase;
}
.wpmud .wphb-performance-report-item-additional-content .wphb-performance-report-additional-title,
.wpmud .wphb-performance-report-item-additional-content .wphb-performance-report-additional-sub-title {
	font-family: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
	font-size: 18px;
	line-height: 23px;
	margin: 0 0 20px;
	text-align: left;
}
.wpmud .wphb-performance-report-item-additional-content .wphb-performance-report-additional-title {
	font-weight: 700;
}
.wpmud .wphb-performance-report-item-additional-content .wphb-performance-report-additional-sub-title {
	font-weight: 400;
}

/* Images */
.wpmud .wphb-image,
.wpmud .wphb-image-icon-content {
	display: block;
	height: auto;
	max-width: 100%;
}
.wpmud .wphb-image-center,
.wpmud .wphb-image-icon-content-center {
	margin-right: auto;
	margin-left: auto;
}
.wpmud .wphb-image-icon-content-top {
	margin-bottom: 30px;
}

/* Lists */
.wpmud .wphb-listing {
	margin: 0;
}
.wpmud .wphb-listing li {
	font-family: 'Roboto', Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 10px;
    margin-bottom: 0;
}
.wpmud .wphb-listing li:first-child {
	margin-top: 0;
}
.wpmud .wphb-listing.bold li {
	font-weight: 500;
}
.wpmud .wphb-listing-ordered {
	padding-left: 20px;
}
.wpmud .wphb-listing li strong {
	font-weight: 500;
}
.wpmud .wphb-listing li:before {
	color: #FFD500;
}

/* Forms */
.wpmud .wphb-select-group {
	clear: both;
}
.wpmud .wphb-select-group:after {
	content: '';
	display: table;
	clear: both;
}
.wpmud .wphb-select-group > label,
.wpmud .wphb-select-group > div {
	float: left;
	display: block;
}
.wpmud .wphb-select-group > label {
	line-height: 43px;
	margin-right: 10px;
}
.wpmud .wphb-select-group-right > label,
.wpmud .wphb-select-group-right > div {
	float: right;
}
.wpmud .wphb-select-group-left > label,
.wpmud .wphb-select-group-left > div {
	float: left;
}
.wpmud .select-container {
	overflow: hidden;
}
.wpmud .select-container.active {
	overflow: visible;
}
.wpmud .wphb-select-group .spinner {
	margin: 11px;
}

/* Notices */
.wpmud .wphb-notice {
	background: #14485F;
	border-radius: 5px;
	color: #fff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 18px;
	margin: 15px 0;
	padding: 10px 15px;
	position: relative;
	text-align: center;
	width: 100%;
}
.wpmud .wphb-notice p,
.wpmud .wphb-notice p a {
	color: #fff;
	font-weight: 400;
}
.wpmud .wphb-notice p {
	margin: 0 0 10px;
	padding: 0;
}
.wpmud .wphb-notice p:last-of-type {
	margin: 0;
}
.wpmud .wphb-notice p a {
	font-weight: 500;
}
.wpmud .wphb-notice p a:hover {
	color: #eaeaea;
}
.wpmud .wphb-notice .wphb-icon,
.wpmud .wphb-notice .wphb-icon .wdv-icon {
	font-size: 22px;
	height: 22px;
	line-height: 22px;
	width: 22px;
}
.wpmud .wphb-notice.can-close .close {
    cursor: pointer;
    display: block;
    height: 22px;
    line-height: 22px;
    margin: 0;
    position: absolute;
    right: 5px;
    text-shadow: none;
    top: 5px;
    width: 22px;
}
.wpmud .wphb-notice.can-close .close:after {
	bottom: 0;
	color: #fff;
    content: "\79";
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-family: 'WPMU-DEV-App-Icons';
    font-size: 22px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    left: 0;
    line-height: 22px;
    opacity: 0.8;
    position: absolute;
    right: 0;
    speak: none;
    text-align: center;
    text-transform: none;
    top: 0;
    transition: opacity 0.3s;
}
.wpmud .wphb-notice.can-close .close:hover:after {
	opacity: 1;
}
.wpmud .wphb-notice-success {
	background-color: #1ABC9C;
}
.wpmud .wphb-notice-error {
	background-color: #FF6D6D;
}
.wpmud .wphb-notice-warning {
	background-color: #FECF2F;
	color: #4E4B10;
}
.wpmud .wphb-notice-warning p,
.wpmud .wphb-notice-warning p a,
.wpmud .wphb-notice-warning.can-close .close:after {
	color: #4E4B10;
}
.wpmud .wphb-notice-box {
	margin: 20px auto 40px;
	padding: 30px;
}
.wpmud .wphb-notice-box.standalone {
	margin: 0 auto;
}
.wpmud .wphb-notice-box.no-top-space {
	margin-top: 0;
}
.wpmud .wphb-notice-box.no-bottom-space {
	margin-bottom: 0;
}
.wpmud .wphb-notice-box p a {
	font-weight: 700;
	text-decoration: underline;
}
.wpmud .wphb-notice.can-close .close {
    right: 10px;
    top: 10px;
}

/* Status Texts */
.wpmud .wphb-status {
	font-weight: 500;
}
.wpmud .wphb-status-disabled,
.wpmud .wphb-heading-status-red,
.wpmud .wphb-benchmark-result-red {
	color: #FF6D6D;
}
.wpmud .wphb-status-enabled,
.wpmud .wphb-heading-status-green,
.wpmud .wphb-benchmark-result-green {
	color: #1ABC9C;
}
.wpmud .wphb-heading-status {
	font-family: 'Roboto Condensed', 'Roboto', sans-serif;
	font-size: 30px;
	margin-top: 0;
}

/* Modals */
.wpmud .wphb-modal * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.wpmud .wphb-modal .wphb-dialog-content > * {
	margin-bottom: 30px;
}
.wpmud .wphb-modal .wphb-dialog-content > *:last-child {
	margin-bottom: 0;
}
.wpmud .wphb-modal .wphb-dialog-content .wphb-modal-image-bottom {
	margin-bottom: -40px;
}
.wpmud .wphb-progress-modal .wphb-progress,
.wpmud .wphb-progress-modal .wphb-block-test {
	max-width: 100%;
}
.wpmud .wphb-modal .wphb-dialog-content .button {
	margin-bottom: 15px;
}
.wpmud .wphb-modal .wphb-dialog-content .button.standalone {
	margin-bottom: 30px;
}

/* Box-footer with buttons */
.wpmud .box-footer.buttons.buttons-on-left {
	text-align: left;
}
.wpmud .box-footer.buttons.buttons-on-right {
	text-align: right;
}

/* Toggles */
.wpmud .toggle-group {
	display: inline-block;
}

/* ****************************************************************************
 * 3. COMPONENTS/MODULES
 */

/* Pills */
.wphb-pills {
	background-color: #FFE900;
	border-radius: 5px;
	color: #7D770B;
	display: inline-block;
	font-family: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
	font-size: 12px;
	font-weight: 700;
	line-height: 16px;
	min-width: 50px;
	padding: 10px 15px;
	position: relative;
}
.wphb-pills.small {
	padding: 7px 15px;
}
.wphb-pills.large {
	font-size: 15px;
	font-weight: 500;
	line-height: 20px;
	padding: 15px 20px;
}
.wphb-pills.grey {
	background-color: #eee;
	color: #555;
}
.wphb-pills.red {
	background-color: #FF6D6D;
	color: #fff;
}
.wphb-pills.green {
	background-color: #1ABC9C;
	color: #fff;
}
.wphb-pills.blue {
	background-color: #19B4CF;
	color: #fff;
}
.wphb-pills.with-arrow:after {
	border: 8px solid transparent;
	content: '';
	height: 0;
	pointer-events: none;
	position: absolute;
	width: 0;
	z-index: 1;
}
.wphb-pills.with-arrow.right:after {
	border-left-color: #19B4CF;
	left: 100%;
	margin-top: -8px;
	top: 50%;
}
.wphb-pills.with-arrow.left:after {
	border-right-color: #19B4CF;
	right: 100%;
	margin-top: -8px;
	top: 50%;
}
.wphb-pills.with-arrow.right.grey:after {
	border-left-color: #eee;
}
.wphb-pills.with-arrow.left.grey:after {
	border-right-color: #eee;
}
.wphb-pills-group {
	border-collapse: collapse;
	border-spacing: 0;
	display: inline-block;
    position: relative;
}
.wphb-pills-group .wphb-pills {
	border-radius: 0;
}
.wphb-pills-group .wphb-pills:first-child {
	border-radius: 5px 0 0 5px;
}
.wphb-pills-group .wphb-pills:last-child {
	border-radius: 0 5px 5px 0;
}

/* Block: Section */
.wpmud .wphb-block-section {
	margin-top: 40px;
}
.wpmud .wphb-block-section:first-child {
	margin-top: 0;
}
.wpmud .wphb-block-section-content * {
	color: #555;
	line-height: 20px;
}

/* Box: Content */
.wpmud .content-box .wphb-block-entry-image-bottom {
	margin-bottom: -30px;
}
.wpmud .content-box .wphb-block-entry-image-standalone {
	margin-top: 40px;
}

/* Box: Content One Col */
.wpmud .content-box-one-col {}

/* Box: Content One Col Center */
.wpmud .content-box-one-col-center .box-content {
	text-align: center;
}
.wpmud .content-box-one-col-center .wphb-block-entry-content {
	margin: 0 auto;
	padding: 15px 0 0 0;
}

/* Box: Content w/Image (left) */
.wpmud .content-box-two-cols-image-left .box-content {
	text-align: left;
}
.wpmud .content-box-two-cols-image-left .wphb-block-entry-image,
.wpmud .content-box-two-cols-image-left .wphb-block-entry-content {
	display: block;
}
.wpmud .content-box-two-cols-image-left .wphb-block-entry-image {
	float: left;
}
.wpmud .content-box-two-cols-image-left .wphb-block-entry-content {
	margin: 30px 0 0 285px;
}
.wpmud .content-box-two-cols-image-left .wphb-block-entry-content .title {
	text-align: left;
}

/* Block: Content */
.wpmud .wphb-block + .wphb-block {
	margin-top: 30px;
}
.wpmud .wphb-block-header {
	margin-bottom: 30px;
}
.wpmud .wphb-block-title {
    font-family: 'Roboto Condensed', 'Roboto', sans-serif;
    font-size: 22px;
    line-height: 26px;
    margin: 0;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.wpmud .wphb-block-content + .wphb-block-content {
	margin-top: 30px;
}
.wpmud .wphb-block-content > *:last-child {
	margin-bottom: 0;
}
#wphb-box-dashboard-cloudflare .wphb-block-entry  .wphb-block-entry-content {
	padding-top: 0;
}
.wpmud .wphb-block-content-center {
	text-align: center;
}
.wpmud .wphb-block-content pre {
	background-color: #FAFAFA;
	border: none;
	border-radius: 5px;
	margin: 0;
	padding: 20px 30px;
	white-space: pre;
	overflow-x: scroll;
	max-width: 100%;
}
.wpmud .wphb-block-content-grey {
	background-color: #FAFAFA;
	border-radius: 5px;
	padding: 20px 30px;
}
.wpmud .wphb-block-content-blue {
	background-color: #e0f6ff;
	border-radius: 5px;
	padding: 20px 30px;
}
.wpmud .wphb-block-content-grey-large {
	padding: 80px 30px;
}
.wpmud .wphb-block-content-with-actions .actions {
	float: right;
	margin-top: -5px;
}
.wpmud .wphb-block-content-with-actions p:first-of-type {
	margin-top: 0;
}
.wpmud .wphb-block-content .tooltip-box,
.wpmud .wphb-block-content .toggle,
.wpmud .wphb-block-content .toggle .toggle-label {
	height: 21px;
	vertical-align: top;
}
.wpmud .wphb-block-content-group {
	border-collapse: separate;
	border-spacing: 0;
	display: table;
	width: 100%;
}
.wpmud .wphb-block-content-group-inner {
	display: table-row;
}
.wpmud .wphb-block-content-group-item {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.wpmud .wphb-block-content-group-item .wphb-block-content {
	margin-left: 30px;
}
.wpmud .wphb-block-content-group-item:first-child .wphb-block-content {
	margin-left: 0;
}
.wpmud .wphb-block-content-group .wphb-block-content.small {
	padding: 20px 23px;
	width: 80px;
}

/* Block: Entry Content */
.wpmud .wphb-block-entry:after {
	content: '';
	clear: both;
	display: block;
}
.wpmud .wphb-block-entry-content .title {
	font-size: 30px;
	line-height: 1.333em;
	margin: 0 0 0.5em;
	max-width: 100%;
	text-transform: uppercase;
}
.wpmud .wphb-block-entry-content .title,
.wpmud .wphb-block-entry-content .content > p {
	margin: 0 0 20px;
}
.wpmud .wphb-block-entry-content .content > p:last-child,
.wpmud .wphb-block-entry-content .content > p:last-of-type {
	margin-bottom: 0;
}
.wpmud .wphb-block-entry-content .button-content-app {
	margin-top: 10px;
}
.wpmud .wphb-block-entry-content .buttons-group .button {
	display: inline-block;
}

/* Progress Bar */
/* HTML5 version for future reference
@keyframes wphb-animate-progress-bar {
	from  { background-position: 50px 0; }
	to    { background-position: 0 0; }
}
.wphb-progress {
	background-color: #14485F;
	border-radius: 5px;
	display: block;
	height: 50px;
	max-width: 640px;
	padding: 6px;
	vertical-align: baseline;
	width: 100%;
}
.wphb-progress[value] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	border: none;
	color: #FECF2F;
}
.wphb-progress-bar {
	display: inline-block;
	height: 50px;
}
.wphb-progress::-webkit-progress-bar {
	background-color: #14485F;
	border-radius: 5px
}
.wphb-progress[value]::-webkit-progress-value::before {
  	content: attr(value);
}
.wphb-progress[value]::-webkit-progress-value {
	animation: wphb-animate-progress-bar 2s linear infinite;
	background-image: -webkit-linear-gradient(135deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);	 		 	   					 	 			 
    background-image: -o-linear-gradient(135deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
    background-image: linear-gradient(135deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
  	background-color: #FECF2F;
  	background-size: 50px 50px;
  	box-shadow: 0 1px 0 rgba(0,0,0,.75);
  	border-top-left-radius: 5px;
  	border-bottom-left-radius: 5px;
}
.wphb-progress[value="100"]::-webkit-progress-value {
  	border-top-right-radius: 5px;
  	border-bottom-right-radius: 5px;
}*/
@-webkit-keyframes wphb-animate-progress-bar {
  	from  { background-position: 38px 0; }
  	to    { background-position: 0 0; }
}
@keyframes wphb-animate-progress-bars {
  	from  { background-position: 38px 0; }
  	to    { background-position: 0 0; }
}
.wphb-progress {
	background-color: #14485F;
	border-radius: 5px;
	height: 50px;
	max-width: 640px;
	overflow: hidden;
	padding: 6px;
	width: 100%;
}
.wphb-progress-bar {
	background-image: -webkit-linear-gradient(135deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
    background-image: -o-linear-gradient(135deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
    background-image: linear-gradient(135deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
  	background-color: #FECF2F;
	background-size: 38px 38px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 0 1px 1px rgba(0,0,0,.75);
	float: left;
	height: 100%;
	min-width: 5%;
	position: relative;
}
.wphb-progress-bar-with-percent {
	transition: width .2s;
	width: 0;
}
.wphb-progress-bar-text,
.wphb-progress-bar-current-percent {
	color: #14485F;
	display: block;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 16px;
	line-height: 20px;
	font-weight: 500;
	margin: 9px 0;
	padding: 0 10px 0 5px;
	width: 100%;
}
.wphb-progress-bar-text {
	text-align: center;
}
.wphb-progress-bar-current-percent {
	text-align: right;
}
.wphb-progress-bar-animated {
	animation: wphb-animate-progress-bar 2s linear infinite;
}
.wphb-progress-bar[aria-valuenow='100'] {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

/* Block: Test with progress bar */
.wphb-block-test {
	background-color: #F4F4F4;
	border-radius: 5px;
	max-width: 700px;
	padding: 30px;
	width: 100%;
}
.wphb-block-test-header {
	margin-bottom: 10px;
}
.wphb-block-test .wphb-block-test-title {
	font-size: 22px;
	font-weight: 400;
	line-height: 1.182em;
	margin: 0 0 10px;
	text-transform: uppercase;
}
.wphb-block-test .wphb-block-test-sub-title {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.333em;
	margin: 0 0 20px;
	text-transform: none;
}
.wphb-block-test .wphb-progress-state {
	margin-top: 10px;
	text-align: center;
}
.wphb-block-test .wphb-progress-state-text {
	color: #8B8B8B;
	font-size: 11px;
	line-height: 1.455em;
}
.wphb-block-test-standalone {
	max-width: 100%;
	text-align: center;
}
.wphb-block-test-standalone .wphb-progress {
	margin: 0 auto;
}
.wphb-block-test-standalone .wphb-block-test-title {
	max-width: 100%;
	text-align: center;
}


/* Block: Steps */
.wphb-steps {}
.wphb-step {
	clear: both;
	position: relative;
	width: 100%;
}
.wphb-step:after {
	content: '';
	clear: both;
	display: block;
}
.wphb-step-number,
.wphb-step-content {
	position: relative;
}
.wphb-step-number {
	float: left;
}
.wphb-step-number-inner {
	border: 1px solid #555;
	border-radius: 50%;
	display: block;
	font-size: 20px;
	height: 50px;
	line-height: 22px;
	padding: 14px 0 0;
	text-align: center;
	width: 50px;
}
.wphb-step-content {
	margin-left: 70px;
}
.wphb-step-content p {
	margin-top: 0;
}
.wphb-step-content .title {
	font-weight: 500;
	margin: 0;
}

/* Filename Extensions Icons */
.wphb-filename-extension {
	border-radius: 5px;
	display: block;
	float: left;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	line-height: 40px;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	width: 40px;
}
.wphb-filename-extension-other {
	background-color: #7AD03A;
	color: #fff;
}
.wphb-filename-extension-css {
	background-color: #27A8DE;
	color: #fff;
}
.wphb-filename-extension-js {
	background-color: #FECF2F;
	color: #000;
	color: rgba(0,0,0,.3);
}
.wphb-filename-info {
	display: block;
	float: left;
	max-width: 600px;
	overflow: hidden;
	position: relative;
	width: 100%;
	white-space: nowrap;
}
.wphb-filename-info:after {
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, #fff 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, #fff 100%);
	content: '';
	height: 100%;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
}
.wphb-table.hover-effect tr:hover .wphb-filename-info:after {
	background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, #FBFBFB 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,0) 0%, #FBFBFB 100%);
	background: linear-gradient(to right, rgba(255,255,255,0) 0%, #FBFBFB 100%);
}
.wphb-filename-info-name {
	font-size: 15px;
	line-height: 20px;
}
.wphb-filename-info-url {
	color: #19B4CF;
	display: block;
	font-size: 12px;
	line-height: 16px;
}
.wphb-minification-td-filename .wphb-label {
	clear: both;
	margin: 45px 0 0;
}

/* Performance Results */
.wphb-score {
	display: inline-block;
	position: relative;
}
.wphb-score-type-circle {
	border-radius: 100%;
	height: 30px;
	width: 30px;
}
.wphb-score-type-circle.large {
	height: 80px;
	width: 80px;
}
.wphb-score-type-circle .wphb-score-graph-circle {
	stroke: #E5E5E5;
	stroke-dashoffset: 80;
	stroke-width: 5px;
	-ms-transition: stroke-dashoffset 1s linear;
	-moz-transition: stroke-dashoffset 1s linear;
	-webkit-transition: stroke-dashoffset 1s linear;
	transition: stroke-dashoffset 1s linear;
}
.wphb-score-type-circle.large .wphb-score-graph-circle {
	stroke-dashoffset: 219.8;
	stroke-width: 10px;
}
.wphb-score-type-circle .wphb-score-graph-result {
	transform: rotate(-80deg) translateX(-27px) translateY(2.5px);
	-moz-transform: rotate(-80deg) translateX(-27px) translateY(2.5px);
	-webkit-transform: rotate(-80deg) translateX(-27px) translateY(2.5px);
}
.wphb-score-type-circle.large .wphb-score-graph-result {
	transform: rotate(-80deg) translateX(-72.5px) translateY(6.5px);
	-moz-transform: rotate(-80deg) translateX(-72.5px) translateY(6.5px);
	-webkit-transform: rotate(-80deg) translateX(-72.5px) translateY(6.5px);
}
.wphb-score-result {
	cursor: pointer;
	position: relative;
}
.wphb-score-result-grade-aplus,
.wphb-score-result-grade-a {
	color: #1ABC9C;
}
.wphb-score-result-grade-aplus .wphb-score-type-circle .wphb-score-graph-result,
.wphb-score-result-grade-a .wphb-score-type-circle .wphb-score-graph-result {
	stroke: #1ABC9C;
}
.wphb-score-result-grade-b {
	color: #19B4CF;
}
.wphb-score-result-grade-b .wphb-score-type-circle .wphb-score-graph-result {
	stroke: #19B4CF;
}
.wphb-score-result-grade-c {
	color: #FECF2F;
}
.wphb-score-result-grade-c .wphb-score-type-circle .wphb-score-graph-result {
	stroke: #FECF2F;
}
.wphb-score-result-grade-d {
	color: #FFAD5F;
}
.wphb-score-result-grade-d .wphb-score-type-circle .wphb-score-graph-result {
	stroke: #FFAD5F;
}
.wphb-score-result-grade-e,
.wphb-score-result-grade-f {
	color: #FF6D6D;
}
.wphb-score-result-grade-e .wphb-score-type-circle .wphb-score-graph-result,
.wphb-score-result-grade-f .wphb-score-type-circle .wphb-score-graph-result {
	stroke: #FF6D6D;
}
.wphb-score-have-label .wphb-score-type,
.wphb-score-have-label .wphb-score-result-label {
	float: left;
	display: block;
}
.wphb-score-have-label.inside .wphb-score-type,
.wphb-score-have-label.inside .wphb-score-result-label {
	float: none;
}
.wphb-score-have-label .wphb-score-result-label {
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 15px;
	font-weight: 600;
	/*/margin-left: 10px;*/
	padding-left: 10px;
}
.wphb-score-have-label .wphb-score-type-circle + .wphb-score-result-label {
	line-height: 30px;
	min-width: 35px;
	text-align: left;
}
.wphb-score-have-label.inside .wphb-score-type {
	position: relative;
}
.wphb-score-have-label.inside .wphb-score-result-label {
	font-size: 26px;
	left: 0;
	line-height: 34px;
	margin: -17px 0 0;
	min-width: 100%;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
}
#wphb-error-details {
	display:none;
}

#wphb-error-details-link {
	color:white;
	text-decoration: none;
	margin-top:10px;
	margin-bottom:10px;
	display:inline-block;
	font-weight:400;
}
#wphb-error-details-link > .dashicons {
	text-decoration:none;
}
#wphb-error-details-link.expanded {
	display:none;
}

/* ****************************************************************************
 * 4. WELCOME / DASHBOARD
 */
.wpmud .box-dashboard-caching-module .wphb-caching-summary-heading-type,
.wpmud .box-dashboard-caching-module .wphb-caching-summary-item-type {
	/*width: 40%;*/
	width: 60%;
}
/*.wpmud .box-dashboard-caching-module .wphb-caching-summary-heading-expiry,
.wpmud .box-dashboard-caching-module .wphb-caching-summary-item-expiry {
	width: 30%;
}
.wpmud .box-dashboard-caching-module .wphb-caching-summary-heading-status,
.wpmud .box-dashboard-caching-module .wphb-caching-summary-item-status {
	width: 30%;
}*/
.wpmud .box-dashboard-caching-module .wphb-caching-summary-heading-status,
.wpmud .box-dashboard-caching-module .wphb-caching-summary-item-status {
	text-align: right;
}

.wpmud .box-dashboard-performance-module .dashboard-performance-report-table {
	text-align: left;
}
.wpmud .box-dashboard-performance-module .wphb-performance-report-heading-recommendation,
.wpmud .box-dashboard-performance-module .wphb-performance-report-item-recommendation,
.wpmud .box-dashboard-performance-module .wphb-performance-report-heading-score,
.wpmud .box-dashboard-performance-module .wphb-performance-report-item-score {
	width: 50%;
}
.wpmud .box-dashboard-performance-module .wphb-performance-report-heading-score,
.wpmud .box-dashboard-performance-module .wphb-performance-report-item-score {
	text-align: right;
}

.wpmud .box-dashboard-performance-module-resume .content {
	margin-top: 45px;
	text-align: center;
}
.wpmud .box-dashboard-performance-module-resume .wphb-hero {
	float: left;
}
.wpmud .box-dashboard-performance-module-resume .current-score {
	display: inline-block;
	margin-left: 30px;
}
.wpmud .box-dashboard-performance-module-resume .content p {
	font-family: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
	font-weight: 700;
	margin: 10px 0;
	text-transform: uppercase;
}
.wpmud .box-dashboard-performance-module-resume .content .button-content-cta {
	margin: 0;
}
.wpmud .box-dashboard-performance-module-resume .results {
	margin-top: 60px;
}
.wpmud .box-dashboard-performance-module-resume .results .dev-list-stats > li:first-child .list-label-stats,
.wpmud .box-dashboard-performance-module-resume .results .dev-list-stats > li:first-child .list-detail-stats-heading {
	padding-top: 0;
}
.wpmud .box-dashboard-performance-module-resume .results .dev-list-stats > li .list-label-stats,
.wpmud .box-dashboard-performance-module-resume .results .dev-list-stats > li .list-detail-stats-heading {
	text-transform: none;
}

.wpmud .box-dashboard-performance-module .dashboard-performance-report-table .wphb-performance-report-item > * {
	cursor:pointer;
}

.wpmud #cloudflare-how-to-title,
.wpmud #cloudflare-how-to {
	text-align:left;
}
.wpmud #cloudflare-how-to a {
	font-weight: 500;
	text-decoration: underline;
	color: inherit;
}
.wpmud #cloudflare-info {
	clear:both;
}
.wpmud .cloudflare-submit {
	margin-bottom:0;
}
.wpmud #cloudflare-zone .clear {
	padding:0;
}
.wpmud #cloudflare-zone label {
	margin-bottom:13px;
}
.wpmud #cloudflare-zone .cloudflare-submit {
	margin-top:22.5px
}
.wpmud #cloudflare-steps .wphb-notice-success {
	margin-top:0;
}


@media screen and (max-width: 1200px) and (min-width: 783px) {
	.wpmud #cloudflare-how-to-title {
		float:none;
		display: block;
		text-align: center;
		margin-bottom:0;
	}
	.wpmud .cloudflare-step p.cloudflare-submit {
		float:none;
		position:relative;
	}
	.wpmud .cloudflare-step p.cloudflare-submit .cloudflare-spinner {
		position:absolute;
		right:0;
		top: 10px;
	}
}

/* ****************************************************************************
 * 5. PEFORMANCE
 */
.wpmud .dev-box-performance-report-additional-content-how-to-fix h5 {
	font-family: 'Roboto Condensed', 'Roboto', Arial, sans-serif;
	font-size: 18px;
	line-height: 23px;
	margin: 0 0 20px;
	text-align: left;
	text-transform: uppercase;
}

.wrap-wphb-performance #dash-performance-resume-view-test,
.wrap-wphb-performance #dash-performance-resume-run-new-test {
	display:none;
}

/* ****************************************************************************
 * 6. MINIFICATION
 */
.wpmud .box-enqueued-files-empty .wphb-block-test {
	margin-top: 30px;
}
.wpmud .wphb-minification-row.out-of-filter {
	display:none;
}
#wphb-minification-filter {
	margin-bottom: 2rem;
}
#wphb-minification-filter:after {
	content: '';
	display: table;
	clear: both;
}
#wphb-minification-filter .wphb-minification-filter-block,
#wphb-minification-filter .wphb-minification-filter-field {
	float: left;
	margin-left: 3%;
	width: 47%;
}
#wphb-minification-filter .wphb-minification-filter-block:first-child,
#wphb-minification-filter .wphb-minification-filter-field:first-child {
	margin-left: 0;
}
#wphb-minification-filter .wphb-block-title {
	font: 700 15px/2em 'Roboto Condensed', 'Roboto', sans-serif;
	text-transform: uppercase;
}
#wphb-minification-filter .wphb-filters-data {
	margin-top: 30px;
}
#wphb-minification-filter .wphb-minification-filter-field-item {
	display: inline-block;
	margin-left: 30px;
}
#wphb-minification-filter .wphb-minification-filter-field-item:first-child {
	margin-left: 0;
}
.wphb-filters-data:after {
	content: '';
	display: table;
	clear: both;
}
.wphb-filters-data .wphb-filter-field-title {
	font-weight: 700;
	text-transform: uppercase;
}
.wphb-minification-filter-field-search input[type="text"] {
	padding: 8px 15px;
	margin: 0;
}
#wphb-minification-form {
	margin-bottom:30px;
}

/* ****************************************************************************
 * 7. BROWSER CACHING
 */
.wpmud .box-caching-summary .wphb-caching-summary-heading th,
.wpmud .box-caching-summary .wphb-caching-summary-item td {
	width: 25%;
}
.wpmud .wphb-caching-error {
	text-align:left;
}
.wpmud .wphb-caching-error a {
	text-decoration:underline;
}
.wpmud .wrap-wphb-caching .wphb-spinner {
	float:none;
	background-size: 15px 15px;
}
.wpmud .wphb-caching-cloudflare-box > p {
	margin:30px 0 20px 0;
}

/* ****************************************************************************
 * 8. GZIP COMPRESSION
 */
.wpmud #wphb-code-snippet {
	margin-top: 20px;
}
.wpmud .wphb-gzip-error {
	text-align:left;
}
.wpmud .wphb-gzip-error a {
	text-decoration:underline;
}

/* ****************************************************************************
 * 9. UPTIME
 */

.wpmud .wphb-block-uptime-status .wphb-uptime-icon {
	max-height: 110px;
}
.wpmud .wphb-block-content-uptime-data-range {
	padding-top: 9px;
	padding-bottom: 9px;
}
.wpmud .uptime-chart svg g g rect {
	fill: #0B2F3F;
	stroke: transparent;
	stroke-width: 0;
}
.wpmud .uptime-chart svg g g text {
	fill: #fff;
	font-family: 'Roboto', Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
}
.wpmud .uptime-chart svg g g text:last-of-type {
	fill: #1ABC9C;
	font-weight: 500;
}

/* ****************************************************************************
 * 10. RESPONSIVE/MQ
 */

/* VERY LARGE DESKTOP */
@media screen and (max-width: 1600px) {
	.wpmud .wphb-filename-info {
		max-width: 400px;
	}

	/* Page: Minification */
	#wphb-minification-filter .wphb-minification-filter-field-item {
		margin-left: 20px;
	}
}

/* WIDE DESKTOP */
@media screen and (max-width: 1440px) {
	.wpmud .wphb-filename-info {
		max-width: 300px;
	}

	/* Page: Performance */
	.wpmud .performance-report-table .wphb-performance-report-item-cta {
		width: 20%;
	}

	/* Page: Minification */
	#wphb-minification-filter .wphb-minification-filter-field {
		float: none;
		margin: 0 0 15px;
		width: 100%;
	}
	#wphb-minification-filter .wphb-minification-filter-field:last-child {
		margin: 0;
	}
}

@media screen and (max-width: 1240px) {
	.wpmud .wphb-filename-info {
		max-width: 250px;
	}
}

/* LARGE DESKTOP */
@media screen and (max-width: 1200px) {

	/* Responsive Class Helpers */
	.hide-to-large {
		display: none;
	}

	/* Block: Steps */
	.wphb-steps {
		text-align: center;
	}
	.wphb-step-number {
		float: none;
		margin-bottom: 10px;
	}
	.wphb-step-number-inner {
		margin: 0 auto;
	}
	.wphb-step-content {
		margin-left: 0;
	}

	/* Page: Minification */
	.wpmud .wphb-filename-info {
		float: none;
		width: auto;
	}
	.wpmud .wphb-enqueued-files .wphb-pills-group {
		border-collapse: inherit;
		border-spacing: inherit;
		display: block;
	}
	.wpmud .wphb-enqueued-files .wphb-pills {
		display: block;
		text-align: center;
	}
	.wpmud .wphb-enqueued-files .wphb-pills-group .wphb-pills:first-child {
		border-radius: 5px 5px 0 0;
	}
	.wpmud .wphb-enqueued-files .wphb-pills-group .wphb-pills:last-child {
		border-radius: 0 0 5px 5px;
	}
	.wpmud .wphb-enqueued-files .wphb-pills.with-arrow.right:after,
	.wpmud .wphb-enqueued-files .wphb-pills.with-arrow.left:after {
		border-top-color: #19B4CF;
		margin-top: 0;
		margin-left: -8px;
		top: 100%;
	}
	.wpmud .wphb-enqueued-files .wphb-pills.with-arrow.right:after {
		border-left-color: transparent;
		left: 50%;
	}
	.wpmud .wphb-enqueued-files .wphb-pills.with-arrow.left:after {
		border-right-color: transparent;
		right: 50%;
	}
	.wpmud .wphb-enqueued-files .wphb-pills.with-arrow.right.grey:after {
		border-top-color: #eee;
		border-left-color: transparent;
	}
	.wpmud .wphb-enqueued-files .wphb-pills.with-arrow.left.grey:after {
		border-top-color: #eee;
		border-right-color: transparent;
	}

	/* Page: Performance */
	.wpmud .performance-report-table .wphb-performance-report-item-cta {
		width: 25%;
	}

	/* Page: Caching */
	.wpmud .wrap-wphb-caching .row {
		display: block;
		table-layout: inherit;
	}
	.wpmud .wrap-wphb-caching .row .col-half {
		display: block;
		margin-top: 30px;
		padding: 0;
		width: 100%;
	}
	.wpmud .wrap-wphb-caching .row .col-half:first-child {
		margin-top: 0;
	}
}

/* DESKTOP */
@media screen and (max-width: 1100px) {

	/* Box: Content w/Image (left) */
	.wpmud .content-box-two-cols-image-left .wphb-block-entry {
		text-align: center;
	}
	.wpmud .content-box-two-cols-image-left .wphb-block-entry-image {
		float: none;
		margin-bottom: 30px;
	}
	.wpmud .content-box-two-cols-image-left .wphb-block-entry-image .wphb-image {
		margin: 0 auto;
	}
	.wpmud .content-box-two-cols-image-left .wphb-block-entry-content {
		margin: 0;
	}
	.wpmud .content-box-two-cols-image-left .wphb-block-entry-content .title {
		text-align: center;
	}

	/* Responsive Uitlities */
	.hide-to-desktop {
		display: none;
	}

	/* Page: Dashboard */
	.wpmud .box-dashboard-performance-module-resume .box-content {
		padding: 30px;
	}
	.wpmud .box-dashboard-performance-module-resume .content {
		margin-top: 0;
	}
	.wpmud .box-dashboard-performance-module-resume .results {
		margin-top: 15px;
	}
	.wpmud .box-dashboard-performance-module-resume .current-score {
		display: block;
		padding: 0;
	}

	/* Page: Performance */
	.wpmud .wrap-wphb-performance #header h1,
	.wpmud .wrap-wphb-performance #header .actions {
		display: block;
		float: none;
	}
	.wpmud .wrap-wphb-performance #header .actions {
		margin-top: 15px;
		margin-bottom: 5px;
	}
	.wpmud .performance-report-table .wphb-performance-report-item-cta {
		width: 30%;
	}

}

/* SMALL DESKTOP */
@media screen and (max-width: 960px) {

	/* Generic */
	.wpmud .wrap-wphb #header h1,
	.wpmud .wrap-wphb #header .actions {
		display: block;
		float: none;
	}
	.wpmud .wrap-wphb #header .actions {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.wpmud .wphb-table.stack {
		display: block;
	}
	.wpmud .wphb-table.stack > thead,
	.wpmud .wphb-table.stack > tfoot {
		display: none;
	}
	.wpmud .wphb-table.stack > tbody {
		display: block;
		width: 100%;
	}
	.wpmud .wphb-table.stack > tbody > tr {
		display: block;
		position: relative;
		width: 100%;
	}
	.wpmud .wphb-table.stack > tbody > tr:before {
		background: transparent;
		border-top: 1px solid #EAEAEA;
		border-bottom: 1px solid transparent;
		bottom: 0;
		content: "";
		display: block;
		left: 0;
		margin: 0 -30px;
		position: absolute;
		right: 0;
		top: 0;
	}
	.wpmud .wphb-table.stack > tbody > tr:first-child:before {
		border-top-color: transparent;
	}
	.wpmud .wphb-table.stack > tbody > tr > td {
		border-bottom: none;
		display: block;
		padding-left: 0;
		position: relative;
		text-align: left;
		width: 100%;
	}
	.wpmud .wphb-table.stack > tbody > tr > td:before {
		content: attr(th-data);
		display: block;
		float: left;
		font-size: 15px;
		font-weight: 700;
		line-height: 1.5em;
		min-width: 150px;
		max-width: 300px;
		margin-right: 20px;
		text-transform: uppercase;
		/*width: 40%;*/
	}
	.wpmud .wphb-table.stack > tbody > tr > td.has-button-label:before {
		line-height: 2em;
	}
	.wpmud .wphb-table.stack > tbody > tr > td.has-select {
		max-height: 64px;
	}
	.wpmud .wphb-table.stack > tbody > tr > td.has-select:before {
		line-height: 2.867em;
	}
	.wpmud .wphb-table.stack > tbody > tr
	.wpmud .wphb-table.stack > tbody > tr > td:first-child {
		border-top: none;
	}
	.wpmud .wphb-table.stack > tbody > tr > td:last-child {
		border-bottom: none;
	}
	.wpmud .wphb-table.stack > tbody > tr:hover:before {
		background: #FBFBFB;
	}
	.wpmud .wphb-table.stack > tbody > tr:first-child:hover:before {
		border-top-color: #EAEAEA;
	}
	.wpmud .wphb-table.stack > tbody > tr:last-child:hover:before {
		border-bottom-color: #EAEAEA;
	}
	.wpmud .wphb-table.stack > tbody > tr:hover > td {
		border-bottom: none;
	}
	.wpmud .wphb-table.stack > tbody > tr:hover > td:first-child:after,
	.wpmud .wphb-table.stack > tbody > tr:hover > td:last-child:after {
		display: none;
	}
	.wpmud .wphb-table.stack > tbody > tr > td > * {
		display: inline-block;
	}

}

/* TABLET */
@media screen and (max-width: 783px) {

	/* Generic */
	.wpmud .row,
	.wpmud .row-sep {
		display: block;
		table-layout: inherit;
	}
	.wpmud .row .col-third,
	.wpmud .row .col-two-third,
	.wpmud .row .col-half,
	.wpmud .row .col-quarter,
	.wpmud .row .col-three-quarters {
		display: block;
		margin-top: 30px;
		padding: 0;
		width: 100%;
	}
	.wpmud .row .col-third:first-child,
	.wpmud .row .col-two-third:first-child,
	.wpmud .row .col-half:first-child,
	.wpmud .row .col-quarter:first-child,
	.wpmud .row .col-three-quarters:first-child {
		margin-top: 0;
	}

	.wpmud #header h1,
	.wpmud #header .actions {
		display: block;
		float: none;
	}
	.wpmud #header .actions {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	.wpmud .wphb-table-wrapper.complex {
	    overflow-y: hidden;
	    width: 100%;
	}
	.wpmud .wphb-table-wrapper.complex .wphb-table > thead > tr > th,
	.wpmud .wphb-table-wrapper.complex .wphb-table > thead > tr > td,
	.wpmud .wphb-table-wrapper.complex .wphb-table > tbody > tr > th,
	.wpmud .wphb-table-wrapper.complex .wphb-table > tbody > tr > td,
	.wpmud .wphb-table-wrapper.complex .wphb-table > tfoot > tr > th,
	.wpmud .wphb-table-wrapper.complex .wphb-table > tfoot > tr > td {
		white-space: nowrap;
	}

	.wpmud .list-table > thead > tr > th,
	.wpmud .list-table > tbody > tr > td {
		width: 100%;
	}

	.wpmud .wphb-table.stack > tbody > tr > td:before {
		max-width: 250px;
		width: 50%;
	}

	.wpmud .dev-box .box-title .toggle-group {
		margin-top: 0;
	}

	/* Page: Dashboard */
	.wpmud .box-dashboard-performance-module-resume .results {
		margin-top: 0;
	}
	.wpmud .box-dashboard-performance-module-resume .results .dev-list-stats > li:first-child .list-label-stats,
	.wpmud .box-dashboard-performance-module-resume .results .dev-list-stats > li:first-child .list-detail-stats-heading {
		padding-top: 10px;
	}

	.wpmud .box-dashboard-performance-module .wphb-performance-report-heading-recommendation,
	.wpmud .box-dashboard-performance-module .wphb-performance-report-item-recommendation {
		width: 75%;
	}
	.wpmud .box-dashboard-performance-module .wphb-performance-report-heading-score,
	.wpmud .box-dashboard-performance-module .wphb-performance-report-item-score,
	.wpmud .box-dashboard-performance-module .wphb-performance-report-heading-cta,
	.wpmud .box-dashboard-performance-module .wphb-performance-report-item-cta {
		width: 100%;
	}

	/* Page: Performance */
	.wpmud .performance-report-table .wphb-performance-report-item-cta {
		width: 100%;
	}

	/* Page: Minification */
	#wphb-minification-filter .wphb-minification-filter-block {
		border-top: 1px solid #EAEAEA;
		float: none;
		margin: 0 0 30px;
		padding-top: 30px;
		width: 100%;
	}
	#wphb-minification-filter .wphb-minification-filter-block:last-child {
		margin: 0;
	}
	#wphb-minification-filter .wphb-minification-filter-block:first-child {
		border-top: none;
		padding-top: 0;
	}

}

/* LARGE MOBILE */
@media screen and (max-width: 600px) {

	/* Generic */
	.wpmud .dev-box .box-title h3,
	.wpmud .dev-box .box-title .buttons,
	.wpmud .dev-box .box-title .actions,
	.wpmud .dev-box .box-title .extra,
	.wpmud .dev-box .box-title .test-results {
		float: none;
		display: block;
	}
	.wpmud .dev-box .box-title .buttons,
	.wpmud .dev-box .box-title .actions,
	.wpmud .dev-box .box-title .extra {
		margin-top: 15px;
	}
	.wpmud .dev-box .box-title {
		padding: 15px 30px;
	}
	.wpmud .dev-box .box-title h3 {
		line-height: 1em;
	}

	.wpmud .wphb-table.stack > tbody > tr > td:before {
		max-width: 200px;
		width: 25%;
	}

}

/* MOBILE */
@media screen and (max-width: 480px) {

	/* Compoents: Pills */
	.wphb-pills-group {
		border-collapse: inherit;
		border-spacing: inherit;
		display: block;
	}
	.wphb-pills {
		display: block;
	}
	.wphb-pills-group .wphb-pills:first-child {
		border-radius: 5px 5px 0 0;
	}
	.wphb-pills-group .wphb-pills:last-child {
		border-radius: 0 0 5px 5px;
	}
	.wphb-pills.with-arrow.right:after,
	.wphb-pills.with-arrow.left:after {
		border-top-color: #19B4CF;
		margin-top: 0;
		margin-left: -8px;
		top: 100%;
	}
	.wphb-pills.with-arrow.right:after {
		border-left-color: transparent;
		left: 50%;
	}
	.wphb-pills.with-arrow.left:after {
		border-right-color: transparent;
		right: 50%;
	}
	.wphb-pills.with-arrow.right.grey:after {
		border-top-color: #eee;
		border-left-color: transparent;
	}
	.wphb-pills.with-arrow.left.grey:after {
		border-top-color: #eee;
		border-right-color: transparent;
	}

}


/* 396853-1482231281-ai */