// GENERIC TRANSFORM
@mixin transform($transforms...) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale...) {
    @include transform(scale($scale));
} 

// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// translate 3D
@mixin translate3d ($x, $y, $z) {
    @include transform(translate3d($x, $y, $z));
}

// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//overall
@mixin overall($num2, $num) {
  -webkit-#{$num2}: $num;
  -o-#{$num2}: $num;
  -moz-#{$num2}: $num;
  #{$num2}: $num;
}