.header-day{
    .fixed-social-links{
        a{
            background-color: $title;
            span{
                background-color:$title;
            }
            svg{
                fill: $white;
            }
        }
    }
}

.header-night{
    .fixed-social-links{
        a{
            background-color: $white;
            span{
                background-color:$white;
                color: lighten( $black, 10% );  
            }
            svg{
                fill: lighten( $black, 10% );
            }
        }
    }
}

.fixed-social-links{
    width: 50px;
    position: fixed;
    right: 5px;
    margin: 2px 0;
    z-index: 9;
    @include calc( top, 50%, 50px );
    
    a{
        width: 40px;
        height: 40px;
        display: inline-block;
        position:relative;
        @include border-radius( 50% );
        &:hover{
            span{
                opacity: 1;
                @include translate( 0, -50% );
                @include transition ( all 0.4s ease-in-out );
            }
            svg{
                @include transform( translate(-50%, -50%) rotate(358deg));
                @include transition ( all 0.4s ease-in-out );
            }
        }
        span{
            position: absolute;
            top: 50%;
            right: 110%;
            display: inline-block;
            color: $white;
            font-size: 13px;
            padding: 0px 10px;
            opacity: 0; 
            
            @include transition ( all 0.2s ease-in-out );
            @include border-radius(30px);
            @include translate( -20px, -50% );
        }
        
        svg{
            @extend %center;
            width: 80%;
            @include transform( translate(-50%, -50%) rotate(0deg));
        }
    }
}