header.header-night.fix-header{
    background-color:$black;
}
.header-night.fix-header, .black-header{
    background-color:$black ;
}

.night-menu{
    background-color:lighten($black, 15%);
    .title{
        background-color:transparent;  
        color:$white;
    }
}