//for menu scroll
body.open{
    overflow: hidden;
}

header.site-header{
    display: block !important;
    text-align:center;
    padding-top:10px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
    @include transition(all 0.3s linear);

    @include media(xs){
        height:70px;	
    }

    &.fix-header, &.fix-header-inner{
        padding-top: 5px;
        &.header-day{
           background-color: $title;
        }

        .main-navigation{

            .menu-left-header-menu-container, .menu-right-header-menu-container{
                margin-top: 22px;
            }

            .logo{
                overflow: hidden;
                height: 70px;

                svg{
                    width: 160px;
                    position: relative;
                    top: -38px;  

                    #upper, #lower-text, .design{
                        opacity:0;
                    }
                    @include media(xs){
                        width: 150px;
                        top: -40px;
                    }
                }//svg

            } //Logo
        } //Main-navigation

    } //Fixed header

    .main-navigation{
        text-transform: uppercase;
        @include transition(all 0.3s linear);

        .menu-left-header-menu-container{
            float: left;
            @include transition(all 0.3s linear);

            @extend %menu-cs;
            ul{  
                li{
                    margin-right: 5px;
                }
            }
        }//menu-left-header-menu-container
        .logo{
            display:inline-block;
            @include transition(all 0.3s linear);

            svg{
                width:200px;
                @include transition(all 0.3s linear);

                #upper, #lower-text, .design{
                    @include transition(all 0.1s linear);
                }
            }

            a{
                img{
                    max-width: 150px;
                }
            }
        }//.logo
        .menu-right-header-menu-container{
            float: right;
            @extend %menu-cs;
            ul{
                float: right;
                li{
                    margin-left: 5px;
                }
            }
        }
        a{
            color: $white;
        }
    }//.main-navigation

}//header


