.restro-btn {
    border: 1px solid $white;
    color: $white;
    @extend %btn-bordered;
    &:visited, &:active{
        color:$white;
    }
}



//RESTAURANT BLOCK
.restaurant-block{
    background-color:transparent;
    .restro-block{
        margin-top:15px;
        margin-bottom:15px;
    }
}
