.arrangemang{
    background-color:lighten($black, 4%);
    padding:100px 30px 80px;
    
    h2{
        @extend %title;
        @extend %n-title;
    }
    
    .info-wrapper{
        
        .restro-block{
            margin:40px 0;
            color:$white;
            
            &:hover{
                .img{
                    &:after{
                        opacity: 1;
                    }
                    img{
                        @include scale( 1.2 );
                    }
                }
            }

            .img{
                margin-bottom: 20px;
                overflow: hidden;
                @extend %overlay;
                &:after{
                    background-color: rgba( 102, 38, 157, 0.4 );
                    opacity:0;
                    @include transition( opacity 0.15s linear );
                }
                img{
                    @include transition( all 0.2s linear );
                }
            }
            
            p{
                font-weight: 100;
            }
            
            .resturant-title{
                color:$night-title-color;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 0px;
                
                a{
                    color:inherit;
                }
            }
            
            .see-more{
                color:$white;
                &:before{
                    border-top:2px solid $white;
                }
            }
            
        }
    }//.info-wrapper
    
    @include media( mb ){
        padding: 100px 15px 80px;
        
        h2{
            font-size: 28px;
        }
    }
}//.rerangemang