.fornoles-skull{
    padding:100px 15%;  
    background-color:lighten($black, 4%);
    text-align:center;
    color:$white;
    
    h2{
       @extend %title;
       @extend %n-title;
       color:$night-title-color;
    } 
    
    .desciption{
        margin: 40px 0;
        line-height: 27px;
    }
    
    @include media( xs ){
         padding:100px 15px;  
         h2{
            font-size: 24px;
         }
    }
    
} //.fornoles-skull