.nattklubb{
    .restaurant-block{
        .desc{
            line-height: 1.6;
            font-size: 16px;
            margin-bottom:20px;
            
            p{
                max-height: initial;
                overflow: initial;
                margin-bottom: 0;
                height:initial;
            }
        }
    }
    
    .nattklubb-desc{
        .description{
            .entry-content{
                margin-bottom:50px;
            }
        }
    }
}