.post-type-archive-vip_package{
    .fornoles-skull{
        padding-bottom: 0;
        .desciption{
            margin:40px 0;
        }
    }
    #vip-packets{
        padding-top: 70px;
    }
    .arrangemang{
        .info-wrapper{
            .restro-block{
                @include media( xs ){
                    margin: 10px 0;
                }
            }
        }
    }
    
}