
.dagen-lunch{
    .image-cover{
        .down-arrow{ 
            position: absolute;
            bottom: 20px;
            z-index: 9;  
            @include calc( left, 50%, 22.5px );   
            
            &:before{
                @include transform(rotate(-45deg) translate(14px, 17px));
            }
            &:after{
                @include transform(rotate(45deg) translate(17px, -14px));
            }
        }
    }
}

.daily-lunch-wrapper{

    .daily-lunch-menu{   
        @include clearfix();
        margin-top: 40px;

        .current-week{
            color: $title;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
            margin-bottom: 40px;
            font-size: 25px;
        }

        .daily-menu-items {
            margin-bottom: 30px;
            
            .day{
                color: $title;
                margin: 0 0 30px;
                line-height: 22px;
                text-transform: uppercase;
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 500;
            }
            .menu-items{ 
                padding-bottom: 10px;
                border-bottom: 0.5px solid #d7cce0;
                &:last-child{
                    border-bottom:none;
                    padding-bottom: 10px;
                }
            }
        }
    }

    .daily-lunch-desc{   
        h2.title{        
            color: #4a2867;
            margin: 0 0 20px;
            font-weight: 400;
            line-height: 22px;
            text-transform: uppercase;
            font-size: 25px;
        }
    }

    .daily-lunch-pdf-wrapper{
        padding: 20px 30px 20px 20px;
        border: 1px solid #efefef;
        .week-pdf{
            margin-bottom:20px;

            .title{
                color: $title;
                margin: 0 0 30px;
                line-height: 22px;
                text-transform: uppercase;
                margin-bottom: 10px;
                font-size: 16px;
                font-weight: 400;
                a{
                    position:relative;
                    &.loading{
                        &:after{
                            opacity:1;
                            @include scale(1);
                        }
                    }
                    &:after{
                        content:url("../svg/loading.svg");
                        position: absolute;
                        right: -25px;
                        top: 2px;
                        @include scale(0);
                        opacity:0;
                        @include transition(all 0.5s ease-in-out);
                        @include vendor-prefix(transform-origin, 50% 40%);
                        @include animation(fa-spin 1s infinite steps(100));
                        @at-root{
                            @include keyframes(fa-spin) {
                                0% {
                                    @include rotate(0);
                                }
                                100% {
                                    @include rotate(359);
                                }
                            }
                        }
                    }
                }  
            }

            .download-info{
                font-size:14px;
            }
            .download-link{
                font-size:14px;
                position:relative;
                margin-top: 15px;
                display: inline-block;
                padding-top: 5px;
                color:$black;
                &:hover{
                    &:after{
                        width:10%;
                    }
                }
                &:after{
                    content: "";
                    background: $black;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    @include transition(width 0.4s ease-in-out);

                }
            }
        }//.week-pdf
    } //.daily-lunch-pdf-wrapper

}//.daily-lunch-wrapper
