$primary:#65b72b !default;
$secondary:#6e6e6e !default;
$title:#4a2867; 
$white:#fff;
$black:#000;
$error:#F04124;
$overlay-bg :#1d242c;
$link:#333;
$common-bg-color:#faf9f5;
$night-title-color:#FE8454;
$footer-color:#66269d;

//FONTS
$primary-font:Raleway;

//title colors
$title-color:#dbba71;

//social colors
$color_facebook: #3B5998;
$color_instragram: #3F729B;

//bootstrape variable
$container-sm:750px !default;
$container-md:970px !default;
$container-lg:1170px !default;

$screen-sm-min: 768px !default;
$screen-md-min:992px !default;
$screen-lg-min:1200px !default;