//MENU CUSTOM STYLE
%menu-cs{
    margin-top: 50px;
    @include transition(all 0.2s linear);
    @include media(md){
        display:none;
    }
    &{
        min-width: 414px;;
    }  
    ul{
        @include clearfix();  
        margin:0;
        padding:0;

        li{
            float:left;
            list-style: none;
            a{
                position:relative;
                display: inline-block;
                margin: 3px 10px;
                border-radius: 15px;
                font-weight: 100;
                text-shadow: 1px 2px 0px #000;
                @include transition(background-color 0.4s ease-in-out);

                &:after{
                    content:'';
                    position:absolute;
                    top:110%;
                    left:0;
                    width:0%;
                    height:1px;
                    background-color:$white;
                    //background-color:$title;
                    @include transition(width 0.4s);
                }

                &:hover{
                    //color:$title;
                    &:after{
                        width:100%;
                    }
                }
            }
        }
    }
}


//BTN BORDERED
%btn-bordered {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
    display:inline-block;
    padding: 8px 20px;
    @include transition(all 0.5s ease-in-out);

    //media query
    @include media(xs){
        color: $link;
    }

    &:hover,
        &:focus,
        &:active{
        text-decoration: none;
        background:$title;
        border-color:$title;
        color:$white;
        border:1px solid transparent;
    }
}


// HEADING TITLE
%title{
    font-size:45px;
    color: $title;
    line-height:39px;
    text-transform:uppercase;
    margin:0 auto;  
    padding:0 30px;
    text-align:center;
    font-weight: 100;
    letter-spacing: 2px;

    //Media
    @include media(xs){
        font-size: 30px;
    }
}

//night title
%n-title{
    font-size: 33px;
    color: $white;
}

//CS DESC
%c-desc{
    font-size: 16px;
    line-height: 26px;
    display: block;
}

//LUNCH-TITLE
%lunch-title{
    font-size: 16px;
    color: $title;
    font-weight: 600;
}

//CENTER TOP-BOTTOM
%center-tb{
    position:absolute;
    top:50%;
    left:30px;
    right:30px;
    text-align:center;
    @include translate(0, -50%);
}

//CENTER TOP-BOTTOM-LEFT-RIGHT
%center{
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    @include translate(-50%, -50%);
}

//BANNER-TITLE
%banner-title{
    font-size: 55px; 
    color:$white;
    text-transform: uppercase;
    font-weight:600;
    letter-spacing: 2px;
}

//OVERLAY
%overlay{
    position: relative;
    
    &:after{
        content:'';
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        z-index:3;
        background-color:rgba($title, 0.4);
    }   
}

%table-gap{
    table{
        margin-left: -10px;
        margin-right: -10px;

        tr{
            td{
                padding: 0 10px;
            }
        }
    }
}

